In [16]:
import tabula
import pandas as pd

In [17]:
df = tabula.read_pdf("../data/wastewatercollection-2019-bypass-overflow-log.pdf", pages='1')

In [18]:
pd_df = pd.DataFrame(df[0])

In [19]:
pd_df = pd_df.rename(columns={
    'Event #': 'event_id', 
    'Start\rDateTime\ryyyy-mm-dd': 'start_date', 
    'Location\r(see\rbelow)': 'start_time', 
    'Stop\rDateTime\ryyyy-mm-dd': 'location', 
    'DurationVolume\rDisinfectionReason\rHoursMLYes / NoCode': 'end_date', 
    'Sample Results': 'end_time', 
    'Unnamed: 0': 'duration', 
    'Unnamed: 1': 'volume', 
    'Unnamed: 2': 'disinfection',
    'Unnamed: 3': 'reason_code',
    'Unnamed: 4': 'TBOD(mg/L)',
    'Unnamed: 5': 'cBOD(mg/L)',
    'Unnamed: 6': 'TSS(mg/L)',
    'Unnamed: 7': 'TP(mg/L)',
    'Unnamed: 8': 'EColi(CFU/100ml)',
    'Unnamed: 9': 'final_effluent_pH',
    'Unnamed: 10': 'final_effluent_total_ci(mg/L)'
})

In [20]:
pd_df = pd_df.drop(0)
pd_df = pd_df.drop(12)
pd_df.at[11, 'end_date'] = '2019-04-21'
pd_df.at[11, 'end_time'] = '02:30'
pd_df.at[11, 'duration'] = '21.11'
pd_df.at[11, 'final_effluent_pH'] = '7.50'

In [21]:
# EXTRACT SECOND PAGE TABLE
# Requires more precision, so we use the "area" parameter in tabula

In [22]:
left = 38.04
top = 96.52
width = 714.63
height = 293.78

y1 = top
x1 = left
y2 = top + height
x2 = left + width

In [23]:
df_2 = tabula.read_pdf("../data/wastewatercollection-2019-bypass-overflow-log.pdf", pages='2', area=[y1, x1, y2, x2])

In [24]:
pd_df_2 = pd.DataFrame(df_2[0])

In [25]:
pd_df_2 = pd_df_2.rename(columns={
    'Unnamed: 0': 'event_id', 
    'Date\ryyyy-mm-dd': 'start_date', 
    'Time': 'start_time', 
    '(see\rbelow)': 'location', 
    'Date\ryyyy-mm-dd.1': 'end_date', 
    'Time.1': 'end_time', 
    'Hours': 'duration', 
    'ML': 'volume', 
    'Yes / No': 'disinfection',
    'Code': 'reason_code',
    'TBOD\rmg/L': 'TBOD(mg/L)',
    'cBOD\rmg/L': 'cBOD(mg/L)',
    'TSS\rmg/L': 'TSS(mg/L)',
    'TP\rmg/L': 'TP(mg/L)',
    'E.coli\rCFU/100ml': 'EColi(CFU/100ml)',
    'pH': 'final_effluent_pH',
    'Total Cl\rmg/L': 'final_effluent_total_ci(mg/L)'
})

In [26]:
pd_df_2.at[0, 'end_date'] = '2019-10-02'
pd_df_2.at[0, 'end_time'] = '19:45'
pd_df_2.at[0, 'final_effluent_pH'] = '6.99'
pd_df_2.at[0, 'final_effluent_total_ci(mg/L)'] = '0.01'
pd_df_2 = pd_df_2.drop(1)
pd_df_2 = pd_df_2.drop(2)

In [27]:
pd_df_2.at[19, 'end_date'] = '2019-12-31'
pd_df_2.at[19, 'end_time'] = '11:21'
pd_df_2.at[19, 'duration'] = '14.50'
pd_df_2 = pd_df_2.drop(20)
pd_df_2 = pd_df_2.drop(21)
pd_df_2 = pd_df_2.drop(22)
pd_df_2 = pd_df_2.drop(23)

In [31]:
# COMBINE TWO TABLES

result = pd.concat([pd_df, pd_df_2])
result['EColi(CFU/100ml)'] = result['EColi(CFU/100ml)'].str.replace(',', '')
result = result.astype({'event_id':'int'})

In [32]:
result

,event_id,start_date,start_time,location,end_date,end_time,duration,volume,disinfection,reason_code,TBOD(mg/L),cBOD(mg/L),TSS(mg/L),TP(mg/L),EColi(CFU/100ml),final_effluent_pH,final_effluent_total_ci(mg/L)
1,1,2019-01-23,17:26,S,2019-01-24,05:26,12.00,112.068,No,"1,2,7",72.0,n/a,116,2.01,n/a,7.49,n/a
2,2,2019-02-06,16:20,S,2019-02-06,20:32,4.20,24.089,No,"1,2,7",68.0,n/a,95.5,1.54,n/a,7.02,n/a
3,3,2019-02-12,23:43,S,2019-02-13,02:34,2.86,28.05,No,"1,2,7",62.0,n/a,73.2,1.54,n/a,7.27,n/a
4,4,2019-02-24,14:03,S,2019-02-24,21:10,7.12,21.111,No,"1,2,7",39.0,n/a,89.0,1.62,n/a,7.19,n/a
5,5,2019-03-10,11:12,S,2019-03-10,23:28,12.26,100.792,No,"1,2,7",54.0,n/a,67.0,1.54,n/a,6.97,n/a
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17,58,2019-12-14,10:36,S,2019-12-14,11:35,12.98,106.630,No,"1,7",57.0,n/a,77.5,1.63,1535000,7.13,n/a
18,59,2019-12-30,03:05,S,2019-12-30,19:52,16.79,127.000,No,"1,7",48.7,n/a,73,1.53,1766667,7.23,n/a
19,60,2019-12-29,12:03,HCG03,2019-12-31,11:21,14.50,n/a,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
24,61,2019-12-30,08:32,HCS01,2019-12-31,05:10,20.60,85.023,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
25,62,2019-12-30,08:32,HCS05,2019-12-30,16:53,8.30,18.646,No,"1,7",n/a,65,176,2.12,1600000,n/a,n/a

In [33]:
result.to_csv('../data/2019-bypass-overflow.csv', index=False)