In [1]:
import tabula
import pandas as pd

In [2]:
df_tabula = tabula.read_pdf("../data/wastewatercollection-2021-bypass-overflow-log.pdf", pages='all')

In [3]:
df1 = pd.DataFrame(df_tabula[0])
df2 = pd.DataFrame(df_tabula[1])
df3 = pd.DataFrame(df_tabula[2])
df4 = pd.DataFrame(df_tabula[3])
df5 = pd.DataFrame(df_tabula[4])
df6 = pd.DataFrame(df_tabula[5])
df7 = pd.DataFrame(df_tabula[6])

In [4]:
columns = {
    'Event #': 'event_id', 
    'Location': 'location', 
    'Start\rDateTime\ryyyy-mm-dd': 'start_date', 
    'Stop\rDateTime\ryyyy-mm-dd': 'start_time', 
    'DurationVolume\rDisinfectionReason\rHoursMLYes / NoCode': 'end_date', 
    'Unnamed: 0': 'end_time', 
    'Unnamed: 1': 'duration', 
    'Unnamed: 2': 'volume', 
    'Unnamed: 3': 'disinfection',
    'Unnamed: 4': 'reason_code'
}

df1 = df1.rename(columns=columns)
df2 = df2.rename(columns=columns)
df3 = df3.rename(columns=columns)
df4 = df4.rename(columns=columns)
df5 = df5.rename(columns=columns)
df6 = df6.rename(columns=columns)
df7 = df7.rename(columns=columns)

In [5]:
# TABLE 1

df1.at[0, 'end_time'] = '04:37'
df1.at[0, 'duration'] = '3.86'
df1 = df1.drop(1)

In [6]:
df1.at[3, 'end_time'] = '20:37'
df1.at[3, 'duration'] = '15.13'
df1 = df1.drop(4)

In [7]:
df1.at[6, 'end_time'] = '09:13'
df1.at[6, 'duration'] = '0.69'
df1 = df1.drop(7)

In [8]:
df1.at[11, 'end_time'] = '09:59'
df1.at[11, 'duration'] = '6.41'
df1 = df1.drop(12)

In [9]:
df1.at[13, 'end_time'] = '07:30'
df1.at[13, 'duration'] = '2.89'
df1 = df1.drop(14)

In [10]:
df1.at[19, 'end_time'] = '14:08'
df1.at[19, 'duration'] = '3.30'
df1 = df1.drop(20)

In [11]:
df1.at[22, 'end_time'] = '10:43'
df1.at[22, 'duration'] = '4.27'
df1 = df1.drop(23)

In [12]:
df1.at[27, 'end_time'] = '19:30'
df1.at[27, 'duration'] = '0.82'
df1 = df1.drop(28)

In [13]:
# TABLE 2

df2.at[2, 'end_time'] = '17:33'
df2.at[2, 'duration'] = '1.77'
df2 = df2.drop(3)

In [14]:
df2.at[4, 'end_time'] = '17:27'
df2.at[4, 'duration'] = '1.34'
df2 = df2.drop(5)

In [15]:
df2.at[6, 'end_time'] = '19:11'
df2.at[6, 'duration'] = '1.00'
df2 = df2.drop(7)

In [16]:
df2.at[11, 'end_date'] = '2021-06-26'
df2.at[11, 'end_time'] = '09:05'
df2.at[11, 'duration'] = '7.05'
df2 = df2.drop(12)
df2 = df2.drop(13)
df2 = df2.drop(14)
df2 = df2.drop(15)
df2 = df2.drop(16)

In [17]:
df2.at[17, 'end_time'] = '07:17'
df2.at[17, 'duration'] = '3.13'
df2 = df2.drop(18)
df2 = df2.drop(19)
df2 = df2.drop(20)
df2 = df2.drop(21)

In [18]:
df2.at[22, 'end_time'] = '10:29'
df2.at[22, 'duration'] = '5.88'
df2 = df2.drop(23)

In [19]:
df2.at[28, 'end_time'] = '19:39'
df2.at[28, 'duration'] = '1.29'
df2 = df2.drop(29)

In [20]:
# TABLE 3

In [21]:
df3.at[0, 'end_time'] = '19:05'
df3.at[0, 'duration'] = '2.77'
df3 = df3.drop(1)

In [22]:
df3.at[5, 'end_time'] = '15:20'
df3.at[5, 'duration'] = '3.14'
df3 = df3.drop(6)

In [23]:
df3.at[7, 'end_time'] = '14:45'
df3.at[7, 'duration'] = '0.91'
df3 = df3.drop(8)
df3 = df3.drop(9)

In [24]:
df3.at[11, 'end_date'] = '2021-07-25'
df3.at[11, 'end_time'] = '00:25'
df3.at[11, 'duration'] = '1.12'
df3 = df3.drop(12)

In [25]:
df3.at[16, 'end_date'] = '2021-08-01'
df3.at[16, 'end_time'] = '17:38'
df3.at[16, 'duration'] = '0.11'
df3 = df3.drop(17)

In [26]:
df3.at[20, 'end_time'] = '15:01'
df3.at[20, 'duration'] = '0.08'
df3 = df3.drop(21)
df3 = df3.drop(22)

In [27]:
df3.at[24, 'end_time'] = '19:35'
df3.at[24, 'duration'] = '0.04'
df3 = df3.drop(25)

In [28]:
df3.at[28, 'end_time'] = '07:21'
df3.at[28, 'duration'] = '1.16'
df3 = df3.drop(29)

In [29]:
# TABLE 4

df4.at[5, 'end_time'] = '23:42'
df4.at[5, 'duration'] = '1.08'
df4 = df4.drop(6)

In [30]:
df4.at[7, 'end_time'] = '23:37'
df4.at[7, 'duration'] = '0.76'
df4 = df4.drop(8)

In [31]:
df4.at[9, 'end_time'] = '03:38'
df4.at[9, 'duration'] = '1.37'
df4 = df4.drop(10)

In [32]:
df4.at[12, 'end_date'] = '2021-09-08'
df4.at[12, 'end_time'] = '05:09'
df4.at[12, 'duration'] = '6.33'
df4 = df4.drop(13)
df4 = df4.drop(14)

In [33]:
df4.at[15, 'end_date'] = '2021-09-08'
df4.at[15, 'end_time'] = '04:53'
df4.at[15, 'duration'] = '4.77'
df4 = df4.drop(16)
df4 = df4.drop(17)

In [34]:
df4.at[26, 'end_date'] = '2021-09-13'
df4.at[26, 'end_time'] = '00:38'
df4.at[26, 'duration'] = '1.81'
df4 = df4.drop(27)

In [35]:
df4.at[29, 'end_time'] = '23:19'
df4.at[29, 'duration'] = '1.53'
df4 = df4.drop(30)

In [36]:
# TABLE 5

df5.at[2, 'end_date'] = '2021-09-23'
df5.at[2, 'end_time'] = '23:19'
df5.at[2, 'duration'] = '15.05'
df5 = df5.drop(3)
df5 = df5.drop(4)
df5 = df5.drop(5)
df5 = df5.drop(6)

In [37]:
df5.at[7, 'end_time'] = '22:49'
df5.at[7, 'duration'] = '4.02'
df5 = df5.drop(8)
df5 = df5.drop(9)

In [38]:
df5.at[22, 'end_date'] = '2021-10-04'
df5.at[22, 'end_time'] = '22:49'
df5.at[22, 'duration'] = '12.48'
df5 = df5.drop(23)
df5 = df5.drop(24)

In [39]:
df5.at[25, 'end_time'] = '03:26'
df5.at[25, 'duration'] = '6.11'
df5 = df5.drop(26)
df5 = df5.drop(27)

In [40]:
# TABLE 6

df6.at[4, 'end_time'] = '12:04'
df6.at[4, 'duration'] = '5.73'
df6 = df6.drop(5)
df6 = df6.drop(6)
df6 = df6.drop(7)

In [41]:
df6.at[8, 'end_time'] = '07:02'
df6.at[8, 'duration'] = '2.29'
df6 = df6.drop(9)

In [42]:
df6.at[13, 'end_time'] = '21:55'
df6.at[13, 'duration'] = '2.52'
df6 = df6.drop(14)

In [43]:
df6.at[19, 'end_date'] = '2021-10-26'
df6.at[19, 'end_time'] = '07:06'
df6.at[19, 'duration'] = '14.42'
df6 = df6.drop(20)
df6 = df6.drop(21)
df6 = df6.drop(22)
df6 = df6.drop(23)
df6 = df6.drop(24)
df6 = df6.drop(25)
df6 = df6.drop(26)
df6 = df6.drop(27)

In [44]:
# TABLE 7

df7.at[0, 'end_date'] = '2021-10-30'
df7.at[0, 'end_time'] = '05:43'
df7.at[0, 'duration'] = '10.89'
df7 = df7.drop(1)

In [45]:
df7.at[2, 'end_time'] = '19:29'
df7.at[2, 'duration'] = '1.74'
df7 = df7.drop(3)

In [46]:
df7.at[5, 'end_time'] = '15:55'
df7.at[5, 'duration'] = '29.26'
df7 = df7.drop(6)

In [47]:
df7.at[11, 'end_time'] = '09:19'
df7.at[11, 'duration'] = '4.03'
df7 = df7.drop(12)

In [48]:
df7.at[13, 'end_time'] = '22:40'
df7.at[13, 'duration'] = '0.74'
df7 = df7.drop(14)
df7 = df7.drop(15)
df7 = df7.drop(16)
df7 = df7.drop(17)

In [49]:
df7.at[19, 'end_time'] = '06:25'
df7.at[19, 'duration'] = '2.68'
df7 = df7.drop(20)

In [50]:
df7.at[25, 'end_time'] = '15:26'
df7.at[25, 'duration'] = '1.08'
df7 = df7.drop(26)

In [51]:
result = pd.concat([df1, df2, df3, df4, df5, df6, df7])
result = result.astype({'event_id':'int'})
result = result.sort_values(by=['event_id'])

In [52]:
result

,event_id,location,start_date,start_time,end_date,end_time,duration,volume,disinfection,reason_code
0,1,HCG03,2021-01-02,00:17,2021-01-02,04:37,3.86,n/a,No,"1,2,7"
2,2,HCG14,2021-01-02,01:06,2021-01-02,02:20,1.23,n/a,No,"1,2,7"
3,3,S,2021-01-02,01:48,2021-01-02,20:37,15.13,50.877,No,"1,2,7"
5,4,HCG03,2021-02-27,06:46,2021-02-27,09:46,3.0,n/a,No,"1,2,7"
6,5,HCG14,2021-02-27,07:34,2021-02-27,09:13,0.69,n/a,No,"1,2,7"
...,...,...,...,...,...,...,...,...,...,...
21,144,HCG14,2021-12-11,04:30,2021-12-11,06:10,1.68,n/a,No,"1,7"
22,145,DC011,2021-12-11,05:17,2021-12-11,06:42,1.42,0.106,No,"1,7"
23,146,DC012,2021-12-11,05:24,2021-12-11,06:04,0.67,0.038,No,"1,7"
24,147,S,2021-12-11,05:40,2021-12-11,14:03,8.38,65.643,No,"1,7"
25,148,HCG03,2021-12-25,13:24,2021-12-25,15:26,1.08,n/a,No,"1,7"

In [53]:
result.to_csv('../data/2021-bypass-overflow.csv', index=False)