In [33]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from utils import snake_case

In [34]:
bypass_URL = 'https://www.hamilton.ca/home-neighbourhood/water-wastewater-stormwater/wastewater-collection-treatment/monitoring'

In [35]:
response = requests.get(bypass_URL)

In [36]:
doc = BeautifulSoup(response.text, 'html.parser')

In [37]:
bypass_table = doc.find_all('table')[0]

In [38]:
table_columns = []
for i in bypass_table.find_all('th'):
    column_name = snake_case(i.text.lower())
    table_columns.append(column_name)

In [39]:
table_data = pd.DataFrame(columns = table_columns)

In [40]:
for j in bypass_table.find_all('tr')[1:]:
 row_data = j.find_all('td')
 row = [i.text for i in row_data]
 length = len(table_data)
 table_data.loc[length] = row

In [41]:
table_data.to_csv('../data/bypass_data.csv', index=False)

In [42]:
table_data_read = pd.read_csv('bypass_data.csv')

In [43]:
table_data_read

,initiation,completion,wastewater_treatment_plant,type_of_bypass,duration,volume
0,12/15/2022 13:23,12/16/2022 9:18,Woodward WWTP,Secondary Bypass,19.92 hrs,41.960 milllion liters
1,9/12/2022 11:30,9/12/2022 13:39,Woodward WWTP,Secondary Bypass,2.16 hrs,21.442 million liters
2,7/20/2022 23:05,7/20/2022 2:49,Woodward WWTP,Secondary Bypass,3.73 hrs,25.087 million litres
3,7/18/2022 7:21,7/18/2022 10:05,Woodward WWTP,Secondary Bypass,2.73 hrs,28.062 million litres
4,6/7/2022 9:29,6/7/2022 17:03,Woodward WWTP,Secondary Bypass,7.56 hrs,79.128 million litres
5,5/3/2022 19:30,5/5/2022 0:48,Woodward WWTP,Secondary Bypass,29.31 hrs,289.341 million litres
6,3/23/2022 23:35,3/24/2022 1:16,Woodward WWTP,Headworks Bypass,1.69 hrs,16.080 million litres
7,3/23/2022 21:10,3/24/2022 17:08,Woodward WWTP,Secondary Bypass,19.97 hrs,248.256 million litres
8,3/6/2022 14:16,3/6/2022 21:20,Woodward WWTP,Secondary Bypass,7.06 hrs,55.983 million litres
9,2/22/2022 15:36,2/24/2022 0:21,Woodward WWTP,Secondary Bypass,32.73 hrs,327.240 million litres
10,2/17/2022 5:08,2/19/2022 1:51,Woodward WWTP,Secondary Bypass,44.71 hrs,541.728 million litres