In [20]:
import tabula

In [21]:
df = tabula.read_pdf("../data/wastewatercollection-2019-bypass-overflow-log.pdf", pages='all')

In [22]:
len(df)

2

In [23]:
df

           7.56
 13                                         2019-04-21               12:10
 14                                         2019-04-21               05:10
 15                                         2019-04-21               02:20
 16                                         2019-04-26               12:31
 17                                         2019-05-01               10:39
 18                                         2019-05-03               20:25
 19                                         2019-05-04               00:50
 20                                         2019-05-10               12:18
 21                                         2019-05-13               19:10
 22                                         2019-05-15               01:00
 23                                         2019-05-14               23:40
 24                                         2019-05-27               00:47
 25                                         2019-05-27               02:10
 26                                         2019-05-29               00:30
 27                                         2019-05-28               23:58
 28                                         2019-06-06               03:04
 29                                         2019-06-11               01:04
 30                                         2019-06-14               06:02
 31                                         2019-06-21               16:23
 32                                         2019-06-25               15:10
 33                                         2019-07-07               23:53
 34                                         2019-07-08               01:10
 35                                         2019-07-08               00:00
 36                                         2019-07-06               21:00
 37                                         2019-07-08               01:00
 38                                         2019-07-17               17:15
 39                                         2019-07-21               02:30
 40                                         2019-07-30               11:20
 41                                         2019-08-08               18:35
 42                                         2019-08-18               10:12
 43                                         2019-09-11               23:59

    Unnamed: 0  Unnamed: 1 Unnamed: 2  \
 0         NaN         NaN        NaN
 1       12.00     112.068         No
 2        4.20      24.089         No
 3        2.86      28.050         No
 4        7.12      21.111         No
 5       12.26     100.792         No
 6       34.55     375.967         No
 7        4.67       1.981         No
 8        3.18      17.428         No
 9       13.48     107.730         No
 10       6.33      19.591         No
 11      21.11     190.770         No
 12        n/a         NaN        NaN
 13      24.67     151.847         No
 14      15.83      25.241         No
 15       8.17       8.033         No
 16       5.30      32.390         No
 17       4.18      19.610         No
 18      17.33     127.990         No
 19      19.00      97.821         No
 20       4.97      27.850         No
 21      11.00      49.171         No
 22      21.00      48.702         No
 23      17.00      69.676         No
 24      39.45     215.300        Yes
 25      31.50      85.306         No
 26      17.83      29.641         No
 27      15.89      64.970        Yes
 28      12.43      91.070        Yes
 29       7.03      65.850        Yes
 30      19.01     116.970        Yes
 31      18.58     107.220        Yes
 32      14.39      90.380        Yes
 33      33.90     231.110        Yes
 34      33.67      76.851         No
 35      28.67      35.671         No
 36       1.50      10.562         No
 37      29.00      98.351         No
 38       5.93      28.600        Yes
 39       3.63      26.260        Yes
 40       3.70      28.320        Yes
 41       2.60      25.710        Yes
 42       3.58      13.630        Yes
 43       2.79      28.700        Yes

                                            Unnamed: 3  \
 0   Bypass or CSO Overflow Sample\rTBODcBODTSSTPE....
 1                                               1,2,7
 2                                               1,2,7
 3                                               1,2,7
 4                                               1,2,7
 5                                               1,2,7
 6                                               1,2,7
 7                                               1,2,7
 8                                                 1,7
 9                                                 1,7
 10                                                1,7
 11                                                1,7
 12                                                NaN
 13                                                1,7
 14                                                1,7
 15                                                1,7
 16                                                1,7
 17                                                1,7
 18                                                1,7
 19                                                1,7
 20                                                1,7
 21                                                1,7
 22                                                1,7
 23                                                1,7
 24                                                1,7
 25                                                1,7
 26                                                1,7
 27                                                1,7
 28                                                1,7
 29                                                1,7
 30                                                1,7
 31                                                1,7
 32                                                1,7
 33                                                1,7
 34                                                1,7
 35                                                1,7
 36                                                1,7
 37                                                1,7
 38                                                1,7
 39                                                1,7
 40                                                1,7
 41                                                1,7
 42                                                1,7
 43                                                1,7

                                            Unnamed: 4 Unnamed: 5 Unnamed: 6  \
 0   Final Effluent for all\rBypass Events\rpHTotal...        NaN        NaN
 1                                                72.0        n/a        116
 2                                                68.0        n/a       95.5
 3                                                62.0        n/a       73.2
 4                                                39.0        n/a       89.0
 5                                                54.0        n/a       67.0
 6                                                33.0        n/a       73.4
 7                                                 n/a        n/a        n/a
 8                                                59.0        n/a       87.0
 9                                                42.0        n/a       76.1
 10                                                n/a        n/a        n/a
 11                                               51.0        n/a       64.3
 12                                                NaN        NaN        NaN
 13                                                n/a        n/a        n/a
 14                                                n/a         16       23.1
 15                                                n/a       n/a*       n/a*
 16                                               41.0        n/a       74.0
 17                                               25.0        n/a       17.0
 18                                               40.0        n/a       49.5
 19                                                n/a        n/a        n/a
 20                                               27.0        n/a       39.0
 21                                                n/a         11        4.0
 22                                                n/a        n/a        n/a
 23                                                n/a         11        9.7
 24                                                n/a         32       75.7
 25                                                n/a        n/a        n/a
 26                                                n/a        n/a        n/a
 27                                                n/a         30       43.5
 28                                                n/a         13       28.3
 29                                               34.0        n/a       34.3
 30                                               24.0        n/a       17.8
 31                                               32.5        n/a       34.4
 32                                               42.0        n/a       51.0
 33                                               34.0        n/a       46.2
 34                                                n/a          6        212
 35                                                n/a         15       23.0
 36                                                n/a         11       77.7
 37                                                n/a        n/a        n/a
 38                                               49.0        n/a       63.0
 39                                               39.0        n/a       64.8
 40                                               40.0        n/a       48.0
 41                                               99.0        n/a       69.0
 42                                               23.0        n/a       30.0
 43                                               65.0        n/a       51.5

    Unnamed: 7 Unnamed: 8 Unnamed: 9 Unnamed: 10
 0         NaN        NaN        NaN         NaN
 1        2.01        n/a       7.49         n/a
 2        1.54        n/a       7.02         n/a
 3        1.54        n/a       7.27         n/a
 4        1.62        n/a       7.19         n/a
 5        1.54        n/a       6.97         n/a
 6        1.56        n/a       7.09         n/a
 7         n/a        n/a        n/a         n/a
 8        1.97        n/a       7.21         n/a
 9        1.27        n/a       7.09         n/a
 10        n/a        n/a        n/a         n/a
 11      1.160        n/a       7.44         n/a
 12        NaN        NaN        NaN         NaN
 13        n/a        n/a        n/a         n/a
 14      0.969  1,070,000        n/a         n/a
 15       n/a*       n/a*        n/a         n/a
 16       1.16        n/a       7.14         n/a
 17      0.716        n/a       7.15         n/a
 18      0.890        n/a       7.14         n/a
 19        n/a        n/a        n/a         n/a
 20      0.841        n/a       7.10         n/a
 21      0.051        550        n/a         n/a
 22        n/a        n/a        n/a         n/a
 23      0.363    430,000        n/a         n/a
 24       1.46        n/a       7.20        0.01
 25        n/a        n/a        n/a         n/a
 26        n/a        n/a        n/a         n/a
 27       1.08        n/a       7.39        0.01
 28      0.792        n/a       7.01        0.00
 29      0.864        n/a       7.02        0.00
 30      0.702     41,263       7.03        0.01
 31      0.920    471,500       6.85        0.00
 32       1.26  1,050,000       6.93        0.00
 33      0.779  1,762,000       6.96        0.02
 34      0.418     64,000        n/a         n/a
 35      0.504    450,000        n/a         n/a
 36      0.495    850,000        n/a         n/a
 37        n/a        n/a        n/a         n/a
 38       1.79  3,400,000       7.11        0.01
 39       1.26  2,400,000       7.07        0.00
 40       1.50  2,000,000       6.83        0.00
 41       2.62  7,300,000       6.84        0.00
 42       0.66  2,800,000       6.78        0.00
 43       1.68  6,100,000       6.77        0.00  ,
    Unnamed: 0  Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4  Unnamed: 5  \
 0         NaN         NaN        NaN        NaN        NaN         NaN
 1     Event #         NaN      Start        NaN   Location         NaN
 2         NaN        Date        NaN       Time       (see        Date
 3         NaN  yyyy-mm-dd        NaN        NaN     below)  yyyy-mm-dd
 4         NaN  2019-10-01        NaN      18:09        NaN  2019-10-01
 5          43  2019-10-02        NaN      05:15          S  2019-10-02
 6         NaN         NaN        NaN        NaN        NaN         NaN
 7         NaN  2019-10-02        NaN      13:32        NaN  2019-10-02
 8          44  2019-10-16        NaN      07:31      HCG14  2019-10-16
 9          45  2019-10-16        NaN      08:20          S  2019-10-16
 10         46  2019-10-27        NaN      02:33          S  2019-10-27
 11         47  2019-10-27        NaN      04:00      HCS04  2019-10-27
 12         48  2019-10-27        NaN      03:10      DC011  2019-10-27
 13         49  2019-10-27        NaN      03:07      HCG14  2019-10-27
 14         50  2019-10-27        NaN      04:20      HCS01  2019-10-28
 15         51  2019-10-27        NaN      04:30      HCS07  2019-10-27
 16         52  2019-10-27        NaN      10:30      HCS05  2019-10-27
 17         53  2019-10-31        NaN      13:00          S  2019-11-01
 18         54  2019-10-31        NaN      16:20      HCS01  2019-11-01
 19         55  2019-10-31        NaN      16:30      HCS04  2019-11-01
 20         56  2019-12-01        NaN      12:03          S  2019-12-01
 21         57  2019-12-14        NaN      07:03      HCG03  2019-12-14
 22         58  2019-12-14        NaN      10:36          S  2019-12-14
 23         59  2019-12-30        NaN      03:05          S  2019-12-30
 24        NaN  2019-12-29        NaN      12:03        NaN  2019-12-29
 25        NaN  2019-12-30        NaN      00:04        NaN  2019-12-30
 26         60  2019-12-30        NaN      05:20      HCG03  2019-12-30
 27        NaN  2019-12-30        NaN      08:57        NaN  2019-12-30
 28        NaN  2019-12-31        NaN      11:00        NaN  2019-12-31
 29         61  2019-12-30        NaN      08:32      HCS01  2019-12-31
 30         62  2019-12-30        NaN      08:32      HCS05  2019-12-30

    Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9   Unnamed: 10 Unnamed: 11  \
 0         NaN        NaN        NaN        NaN           NaN         NaN
 1        Stop        NaN   Duration     Volume  Disinfection      Reason
 2         NaN       Time      Hours         ML      Yes / No        Code
 3         NaN        NaN        NaN        NaN           NaN         NaN
 4         NaN      21:52        NaN        NaN           NaN         NaN
 5         NaN      09:59      14.66     53.390           Yes         1,7
 6         NaN        NaN        NaN        NaN           NaN         NaN
 7         NaN      19:45        NaN        NaN           NaN         NaN
 8         NaN      07:39       0.13        n/a            No         1,7
 9         NaN      14:22       6.03     30.160            No         1,7
 10        NaN      15:34      13.01    180.390            No         1,7
 11        NaN      15:50      11.83     34.453            No         1,7
 12        NaN      04:03       0.88      0.009            No         1,7
 13        NaN      03:31       0.40        n/a            No         1,7
 14        NaN      00:10      19.83    103.195            No         1,7
 15        NaN      07:50       3.33      6.292            No         1,7
 16        NaN      21:00      10.50     11.682            No         1,7
 17        NaN      02:30      13.51    171.000            No         1,7
 18        NaN      15:40      23.30    116.802            No         1,7
 19        NaN      07:30      15.00     35.112            No         1,7
 20        NaN      23:56      11.89     78.180            No         1,7
 21        NaN      17:08      10.08        n/a            No         1,7
 22        NaN      11:35      12.98    106.630            No         1,7
 23        NaN      19:52      16.79    127.000            No         1,7
 24        NaN      17:23       5.30        NaN           NaN         NaN
 25        NaN      04:12       4.10        NaN           NaN         NaN
 26        NaN      08:46       3.40        n/a            No         1,7
 27        NaN      10:23       1.40        NaN           NaN         NaN
 28        NaN      11:21       0.30        NaN           NaN         NaN
 29        NaN      05:10      20.60     85.023            No         1,7
 30        NaN      16:53       8.30     18.646            No         1,7

    Unnamed: 12                 Sample Results             Unnamed: 13
 0          NaN                            NaN  Final Effluent for all
 1          NaN  Bypass or CSO Overflow Sample           Bypass Events
 2         TBOD             cBOD TSS TP E.coli             pH Total Cl
 3         mg/L       mg/L mg/L mg/L CFU/100ml                    mg/L
 4          NaN                            NaN               6.97 0.00
 5         62.0        n/a 72.7 1.73 4,700,000                     NaN
 6          NaN                            NaN               7.01 0.01
 7          NaN                            NaN                     NaN
 8          n/a                n/a n/a n/a n/a                 n/a n/a
 9         36.0        n/a 47.0 1.43 1,500,000                6.91 n/a
 10        37.0        n/a 59.9 1.45 1,260,000                7.06 n/a
 11         n/a            n/a* n/a* n/a* n/a*                 n/a n/a
 12         n/a                n/a n/a n/a n/a                 n/a n/a
 13         n/a                n/a n/a n/a n/a                 n/a n/a
 14         n/a                n/a n/a n/a n/a                 n/a n/a
 15         n/a        n/a** n/a** n/a** n/a**                 n/a n/a
 16         n/a          99 113 2.44 2,100,000                 n/a n/a
 17        38.5          n/a 44.9 1.12 640,000                6.99 n/a
 18         n/a                n/a n/a n/a n/a                 n/a n/a
 19         n/a        20 10.7 0.975 1,900,000                 n/a n/a
 20        53.5        n/a 85.7 1.76 1,410,000                7.12 n/a
 21         n/a                n/a n/a n/a n/a                 n/a n/a
 22        57.0        n/a 77.5 1.63 1,535,000                7.13 n/a
 23        48.7          n/a 73 1.53 1,766,667                7.23 n/a
 24         n/a                n/a n/a n/a n/a                 n/a n/a
 25         n/a                n/a n/a n/a n/a                 n/a n/a
 26         n/a                n/a n/a n/a n/a                 n/a n/a
 27         n/a                n/a n/a n/a n/a                 n/a n/a
 28         n/a                n/a n/a n/a n/a                 n/a n/a
 29         n/a                n/a n/a n/a n/a                 n/a n/a
 30         n/a          65 176 2.12 1,600,000                 n/a n/a  ]