In [117]:
import tabula
import pandas as pd

In [118]:
df_tabula = tabula.read_pdf("../data/wastewatercollection-2021-bypass-overflow-log.pdf", pages='all')

In [119]:
df_tabula

        No        1,7
 29        0.20        n/a         No        1,7
 30        1.33        NaN        NaN        NaN
 31        1.07        n/a         No        1,7
 32        3.05     24.033        Yes        1,7  ,
     Event # Location Start\rDateTime\ryyyy-mm-dd Stop\rDateTime\ryyyy-mm-dd  \
 0      90.0    HCG03                  2021-09-15                      00:06
 1      91.0    HCG14                  2021-09-15                      00:18
 2      92.0    HCG03                  2021-09-22                      05:17
 3       NaN      NaN                  2021-09-22                      08:52
 4       NaN      NaN                  2021-09-22                      14:18
 5       NaN      NaN                  2021-09-22                      19:22
 6       NaN      NaN                  2021-09-23                      02:59
 7      93.0    HCG14                  2021-09-22                      09:13
 8       NaN      NaN                  2021-09-22                      19:45
 9       NaN      NaN                  2021-09-22                      22:47
 10     94.0        S                  2021-09-22                      10:57
 11     95.0    HCS04                  2021-09-22                      15:24
 12     96.0    DC011                  2021-09-22                      20:23
 13     97.0    HCS01                  2021-09-22                      20:37
 14     98.0    HC001                  2021-09-22                      20:48
 15     99.0    DC012                  2021-09-22                      21:16
 16    100.0    HCS05                  2021-09-22                      21:47
 17    101.0       HW                  2021-09-22                      21:53
 18    102.0    HCS08                  2021-09-22                      22:04
 19    103.0    HCG04                  2021-09-22                      22:19
 20    104.0    HCS7C                  2021-09-23                      00:38
 21    105.0    HCG03                  2021-09-25                      15:03
 22    106.0    HCG03                  2021-10-03                      13:28
 23      NaN      NaN                  2021-10-03                      20:19
 24      NaN      NaN                  2021-10-04                      09:29
 25    107.0    HCG14                  2021-10-03                      20:26
 26      NaN      NaN                  2021-10-04                      00:45
 27      NaN      NaN                  2021-10-04                      02:50
 28    108.0        S                  2021-10-03                      21:32
 29    109.0    DC011                  2021-10-03                      21:42
 30    110.0    HCS04                  2021-10-03                      22:18
 31    111.0    HCG04                  2021-10-03                      22:41
 32    112.0    HCS08                  2021-10-03                      22:41

    DurationVolume\rDisinfectionReason\rHoursMLYes / NoCode Unnamed: 0  \
 0                                          2021-09-15           00:56
 1                                          2021-09-15           00:57
 2                                          2021-09-22           07:08
 3                                          2021-09-22           13:14
 4                                          2021-09-22           16:14
 5                                          2021-09-23           01:36
 6                                          2021-09-23           03:40
 7                                          2021-09-22           10:10
 8                                          2021-09-22           22:47
 9                                          2021-09-22           22:49
 10                                         2021-09-23           10:44
 11                                         2021-09-24           07:08
 12                                         2021-09-23           00:15
 13                                         2021-09-23           19:36
 14                                         2021-09-23           01:56
 15                                         2021-09-22           22:51
 16                                         2021-09-23           18:49
 17                                         2021-09-23           01:35
 18                                         2021-09-23           12:07
 19                                         2021-09-23           02:01
 20                                         2021-09-23           01:39
 21                                         2021-09-25           15:23
 22                                         2021-10-03           14:15
 23                                         2021-10-04           07:18
 24                                         2021-10-04           10:12
 25                                         2021-10-04           00:22
 26                                         2021-10-04           02:21
 27                                         2021-10-04           03:26
 28                                         2021-10-04           20:45
 29                                         2021-10-04           04:06
 30                                         2021-10-04           22:30
 31                                         2021-10-04           04:32
 32                                         2021-10-04           21:14

     Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4
 0         0.84        n/a         No        1,7
 1         0.66        n/a         No        1,7
 2         1.84        n/a         No        1,7
 3         4.35        NaN        NaN        NaN
 4         1.94        NaN        NaN        NaN
 5         6.23        NaN        NaN        NaN
 6         0.69        NaN        NaN        NaN
 7         0.96        n/a         No        1,7
 8         3.04        NaN        NaN        NaN
 9         0.02        NaN        NaN        NaN
 10       23.78    272.260        Yes        1,7
 11       39.71    164.034         No        1,7
 12        3.87      0.265         No        1,7
 13       22.99    148.260         No        1,7
 14        5.13      4.095         No        1,7
 15        1.58      0.044         No        1,7
 16       21.03     82.099         No        1,7
 17        3.70     39.140         No        1,7
 18       14.05      2.092         No        1,7
 19        3.69        n/a         No        1,7
 20        1.03      0.123         No        1,7
 21        0.33        n/a         No        1,7
 22        0.78        n/a         No        1,7
 23       10.99        NaN        NaN        NaN
 24        0.71        NaN        NaN        NaN
 25        3.93        n/a         No        1,7
 26        1.60        NaN        NaN        NaN
 27        0.58        NaN        NaN        NaN
 28       23.40    265.084        Yes        1,7
 29        0.29      0.039         No        1,7
 30       24.20    104.529         No        1,7
 31        5.85        n/a         No        1,7
 32       22.55      4.434         No        1,7  ,
     Event # Location Start\rDateTime\ryyyy-mm-dd Stop\rDateTime\ryyyy-mm-dd  \
 0     113.0       PH                  2021-10-03                      22:36
 1     114.0    HCS7C                  2021-10-03                      23:14
 2     115.0    HCS01                  2021-10-03                      23:25
 3     116.0       HW                  2021-10-04                      03:00
 4     117.0    HCG03                  2021-10-09                      03:03
 5       NaN      NaN                  2021-10-09                      03:26
 6       NaN      NaN                  2021-10-09                      04:16
 7       NaN      NaN                  2021-10-09                      11:08
 8     118.0    HCG14                  2021-10-09                      04:24
 9       NaN      NaN                  2021-10-09                      05:08
 10    119.0    HC001                  2021-10-09                      06:01
 11    120.0        S                  2021-10-09                      06:11
 12    121.0    HCS01                  2021-10-09                      08:30
 13    122.0    HCG03                  2021-10-15                      19:20
 14      NaN      NaN                  2021-10-15                      19:53
 15    123.0    HCG14                  2021-10-15                      20:03
 16    124.0    HC001                  2021-10-15                      20:20
 17    125.0        S                  2021-10-15                      20:45
 18    126.0    HCG03                  2021-10-21                      19:39
 19    127.0    HCG03                  2021-10-25                      01:42
 20      NaN      NaN                  2021-10-25                      05:31
 21      NaN      NaN                  2021-10-25                      08:04
 22      NaN      NaN                  2021-10-25                      10:04
 23      NaN      NaN                  2021-10-25                      12:53
 24      NaN      NaN                  2021-10-25                      16:02
 25      NaN      NaN                  2021-10-26                      01:03
 26      NaN      NaN                  2021-10-26                      02:57
 27      NaN      NaN                  2021-10-26                      04:20
 28    128.0        S                  2021-10-25                      13:50
 29    129.0    HCS01                  2021-10-25                      16:40
 30    130.0    HCS04                  2021-10-26                      05:14
 31    131.0    HCS05                  2021-10-26                      11:18

    DurationVolume\rDisinfectionReason\rHoursMLYes / NoCode Unnamed: 0  \
 0                                          2021-10-04           04:25
 1                                          2021-10-04           04:21
 2                                          2021-10-05           04:29
 3                                          2021-10-04           07:07
 4                                          2021-10-09           03:21
 5                                          2021-10-09           03:41
 6                                          2021-10-09           08:31
 7                                          2021-10-09           12:04
 8                                          2021-10-09           04:48
 9                                          2021-10-09           07:02
 10                                         2021-10-09           10:43
 11                                         2021-10-10           00:15
 12                                         2021-10-09           22:49
 13                                         2021-10-15           19:49
 14                                         2021-10-15           21:55
 15                                         2021-10-15           21:10
 16                                         2021-10-15           21:07
 17                                         2021-10-16           12:09
 18                                         2021-10-21           20:10
 19                                         2021-10-25           03:11
 20                                         2021-10-25           06:19
 21                                         2021-10-25           08:31
 22                                         2021-10-25           12:08
 23                                         2021-10-25           15:07
 24                                         2021-10-25           18:49
 25                                         2021-10-26           02:12
 26                                         2021-10-26           03:38
 27                                         2021-10-26           07:06
 28                                         2021-10-27           05:26
 29                                         2021-10-27           05:45
 30                                         2021-10-27           01:54
 31                                         2021-10-27           07:15

     Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4
 0         5.81     48.434         No      1,3,7
 1         5.11      8.750         No        1,7
 2        29.07    228.682         No        1,7
 3         4.12     40.108         No        1,7
 4         0.31        n/a         No        1,7
 5         0.24        NaN        NaN        NaN
 6         4.25        NaN        NaN        NaN
 7         0.93        NaN        NaN        NaN
 8         0.40        n/a         No        1,7
 9         1.89        NaN        NaN        NaN
 10        4.70      3.586         No        1,7
 11       18.08    156.669        Yes        1,7
 12       14.32     59.654         No        1,7
 13        0.49        n/a         No        1,7
 14        2.03        NaN        NaN        NaN
 15        1.13        n/a         No        1,7
 16        0.78      1.653         No        1,7
 17       15.40    114.737        Yes        1,7
 18        0.50        n/a         No        1,7
 19        1.49        n/a         No        1,7
 20        0.79        NaN        NaN        NaN
 21        0.45        NaN        NaN        NaN
 22        2.07        NaN        NaN        NaN
 23        2.24        NaN        NaN        NaN
 24        2.79        NaN        NaN        NaN
 25        1.14        NaN        NaN        NaN
 26        0.69        NaN        NaN        NaN
 27        2.76        NaN        NaN        NaN
 28       39.61    453.663         No        1,7
 29       37.07    279.499         No        1,7
 30       20.67     40.147         No        1,7
 31       19.95     46.132         No        1,7  ,
        Event # Location Start\rDateTime\ryyyy-mm-dd  \
 0          132    HCG03                  2021-10-29
 1          NaN      NaN                  2021-10-29
 2          133    HCG14                  2021-10-29
 3          NaN      NaN                  2021-10-29
 4          134        S                  2021-10-29
 5          135    HCS01                  2021-10-30
 6          NaN      NaN                  2021-10-31
 7          136    HCS04                  2021-10-30
 8          137    HCS08                  2021-10-30
 9          138    HCG03                  2021-10-30
 10         139    HCG03                  2021-11-12
 11         140    HCG03                  2021-12-05
 12         NaN      NaN                  2021-12-06
 13         141    HCG14                  2021-12-05
 14         NaN      NaN                  2021-12-05
 15         NaN      NaN                  2021-12-05
 16         NaN      NaN                  2021-12-05
 17         NaN      NaN                  2021-12-05
 18         142        S                  2021-12-05
 19         143    HCG03                  2021-12-11
 20         NaN      NaN                  2021-12-11
 21         144    HCG14                  2021-12-11
 22         145    DC011                  2021-12-11
 23         146    DC012                  2021-12-11
 24         147        S                  2021-12-11
 25         148    HCG03                  2021-12-25
 26  2021-12-25    15:11                  2021-12-25

    Stop\rDateTime\ryyyy-mm-dd  \
 0                       16:18
 1                       23:42
 2                       17:03
 3                       19:09
 4                       18:06
 5                       00:15
 6                       15:40
 7                       01:24
 8                       08:53
 9                       20:58
 10                      20:01
 11                      20:47
 12                      08:57
 13                      21:16
 14                      21:17
 15                      21:35
 16                      22:13
 17                      22:39
 18                      22:38
 19                      01:54
 20                      04:07
 21                      04:30
 22                      05:17
 23                      05:24
 24                      05:40
 25                      13:24
 26                      15:26

    DurationVolume\rDisinfectionReason\rHoursMLYes / NoCode Unnamed: 0  \
 0                                          2021-10-29           21:10
 1                                          2021-10-30           05:43
 2                                          2021-10-29           18:27
 3                                          2021-10-29           19:29
 4                                          2021-10-31           01:42
 5                                          2021-10-31           05:16
 6                                          2021-10-31           15:55
 7                                          2021-10-31           09:43
 8                                          2021-10-30           17:03
 9                                          2021-10-30           21:10
 10                                         2021-11-12           20:44
 11                                         2021-12-06           00:28
 12                                         2021-12-06           09:19
 13                                         2021-12-05           21:16
 14                                         2021-12-05           21:35
 15                                         2021-12-05           21:36
 16                                         2021-12-05           22:39
 17                                         2021-12-05           22:40
 18                                         2021-12-06           05:12
 19                                         2021-12-11           02:18
 20                                         2021-12-11           06:25
 21                                         2021-12-11           06:10
 22                                         2021-12-11           06:42
 23                                         2021-12-11           06:04
 24                                         2021-12-11           14:03
 25                                         2021-12-25           14:14
 26                                               0.25             NaN

     Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4
 0         4.87        n/a         No        1,7
 1         6.02        NaN        NaN        NaN
 2         1.41        n/a         No        1,7
 3         0.33        NaN        NaN        NaN
 4        31.59    346.886         No        1,7
 5        29.01    211.499         No        1,7
 6         0.25        NaN        NaN        NaN
 7        32.32     68.835         No        1,7
 8         8.16      0.666         No        1,7
 9         0.20        n/a         No        1,7
 10        0.72        n/a         No        1,7
 11        3.67        n/a         No        1,7
 12        0.36        NaN        NaN        NaN
 13        0.01        n/a         No        1,7
 14        0.29        NaN        NaN        NaN
 15        0.01        NaN        NaN        NaN
 16        0.43        NaN        NaN        NaN
 17        0.00        NaN        NaN        NaN
 18        6.56     55.288         No        1,7
 19        0.39        n/a         No        1,7
 20        2.29        NaN        NaN        NaN
 21        1.68        n/a         No        1,7
 22        1.42      0.106         No        1,7
 23        0.67      0.038         No        1,7
 24        8.38     65.643         No        1,7
 25        0.83        n/a         No        1,7
 26         NaN        NaN        NaN        NaN  ]

In [120]:
df1 = pd.DataFrame(df_tabula[0])
df2 = pd.DataFrame(df_tabula[1])
df3 = pd.DataFrame(df_tabula[2])
df4 = pd.DataFrame(df_tabula[3])
df5 = pd.DataFrame(df_tabula[4])
df6 = pd.DataFrame(df_tabula[5])
df7 = pd.DataFrame(df_tabula[6])

In [121]:
columns = {
    'Event #': 'event_id', 
    'Location': 'location', 
    'Start\rDateTime\ryyyy-mm-dd': 'start_date', 
    'Stop\rDateTime\ryyyy-mm-dd': 'start_time', 
    'DurationVolume\rDisinfectionReason\rHoursMLYes / NoCode': 'end_date', 
    'Unnamed: 0': 'end_time', 
    'Unnamed: 1': 'duration', 
    'Unnamed: 2': 'volume', 
    'Unnamed: 3': 'disinfection',
    'Unnamed: 4': 'reason_code'
}

df1 = df1.rename(columns=columns)
df2 = df2.rename(columns=columns)
df3 = df3.rename(columns=columns)
df4 = df4.rename(columns=columns)
df5 = df5.rename(columns=columns)
df6 = df6.rename(columns=columns)
df7 = df7.rename(columns=columns)

In [122]:
# TABLE 1

df1.at[0, 'end_time'] = '04:37'
df1.at[0, 'duration'] = '3.86'
df1 = df1.drop(1)

In [123]:
df1.at[3, 'end_time'] = '20:37'
df1.at[3, 'duration'] = '15.13'
df1 = df1.drop(4)

In [124]:
df1.at[6, 'end_time'] = '09:13'
df1.at[6, 'duration'] = '0.69'
df1 = df1.drop(7)

In [125]:
df1.at[11, 'end_time'] = '09:59'
df1.at[11, 'duration'] = '6.41'
df1 = df1.drop(12)

In [126]:
df1.at[13, 'end_time'] = '07:30'
df1.at[13, 'duration'] = '2.89'
df1 = df1.drop(14)

In [127]:
df1.at[19, 'end_time'] = '14:08'
df1.at[19, 'duration'] = '3.30'
df1 = df1.drop(20)

In [128]:
df1.at[22, 'end_time'] = '10:43'
df1.at[22, 'duration'] = '4.27'
df1 = df1.drop(23)

In [129]:
df1.at[27, 'end_time'] = '19:30'
df1.at[27, 'duration'] = '0.82'
df1 = df1.drop(28)

In [130]:
# TABLE 2

df2.at[2, 'end_time'] = '17:33'
df2.at[2, 'duration'] = '1.77'
df2 = df2.drop(3)

In [131]:
df2.at[4, 'end_time'] = '17:27'
df2.at[4, 'duration'] = '1.34'
df2 = df2.drop(5)

In [132]:
df2.at[6, 'end_time'] = '19:11'
df2.at[6, 'duration'] = '1.00'
df2 = df2.drop(7)

In [133]:
df2.at[11, 'end_date'] = '2021-06-26'
df2.at[11, 'end_time'] = '09:05'
df2.at[11, 'duration'] = '7.05'
df2 = df2.drop(12)
df2 = df2.drop(13)
df2 = df2.drop(14)
df2 = df2.drop(15)
df2 = df2.drop(16)

In [134]:
df2.at[17, 'end_time'] = '07:17'
df2.at[17, 'duration'] = '3.13'
df2 = df2.drop(18)
df2 = df2.drop(19)
df2 = df2.drop(20)
df2 = df2.drop(21)

In [135]:
df2.at[22, 'end_time'] = '10:29'
df2.at[22, 'duration'] = '5.88'
df2 = df2.drop(23)

In [136]:
df2.at[28, 'end_time'] = '19:39'
df2.at[28, 'duration'] = '1.29'
df2 = df2.drop(29)

In [137]:
# TABLE 3

In [138]:
df3.at[0, 'end_time'] = '19:05'
df3.at[0, 'duration'] = '2.77'
df3 = df3.drop(1)

In [139]:
df3.at[5, 'end_time'] = '15:20'
df3.at[5, 'duration'] = '3.14'
df3 = df3.drop(6)

In [140]:
df3.at[7, 'end_time'] = '14:45'
df3.at[7, 'duration'] = '0.91'
df3 = df3.drop(8)
df3 = df3.drop(9)

In [141]:
df3.at[11, 'end_date'] = '2021-07-25'
df3.at[11, 'end_time'] = '00:25'
df3.at[11, 'duration'] = '1.12'
df3 = df3.drop(12)

In [142]:
df3.at[16, 'end_date'] = '2021-08-01'
df3.at[16, 'end_time'] = '17:38'
df3.at[16, 'duration'] = '0.11'
df3 = df3.drop(17)

In [143]:
df3.at[20, 'end_time'] = '15:01'
df3.at[20, 'duration'] = '0.08'
df3 = df3.drop(21)
df3 = df3.drop(22)

In [144]:
df3.at[24, 'end_time'] = '19:35'
df3.at[24, 'duration'] = '0.04'
df3 = df3.drop(25)

In [145]:
df3.at[28, 'end_time'] = '07:21'
df3.at[28, 'duration'] = '1.16'
df3 = df3.drop(29)

In [146]:
# TABLE 4

df4.at[5, 'end_time'] = '23:42'
df4.at[5, 'duration'] = '1.08'
df4 = df4.drop(6)

In [148]:
df4.at[7, 'end_time'] = '23:37'
df4.at[7, 'duration'] = '0.76'
df4 = df4.drop(8)

In [150]:
df4.at[9, 'end_time'] = '03:38'
df4.at[9, 'duration'] = '1.37'
df4 = df4.drop(10)

In [152]:
df4.at[12, 'end_date'] = '2021-09-08'
df4.at[12, 'end_time'] = '05:09'
df4.at[12, 'duration'] = '6.33'
df4 = df4.drop(13)
df4 = df4.drop(14)

In [154]:
df4.at[15, 'end_date'] = '2021-09-08'
df4.at[15, 'end_time'] = '04:53'
df4.at[15, 'duration'] = '4.77'
df4 = df4.drop(16)
df4 = df4.drop(17)

In [156]:
df4.at[26, 'end_date'] = '2021-09-13'
df4.at[26, 'end_time'] = '00:38'
df4.at[26, 'duration'] = '1.81'
df4 = df4.drop(27)

In [158]:
df4.at[29, 'end_time'] = '23:19'
df4.at[29, 'duration'] = '1.53'
df4 = df4.drop(30)

In [161]:
# TABLE 5

df5.at[2, 'end_date'] = '2021-09-23'
df5.at[2, 'end_time'] = '23:19'
df5.at[2, 'duration'] = '15.05'
df5 = df5.drop(3)
df5 = df5.drop(4)
df5 = df5.drop(5)
df5 = df5.drop(6)

In [163]:
df5.at[7, 'end_time'] = '22:49'
df5.at[7, 'duration'] = '4.02'
df5 = df5.drop(8)
df5 = df5.drop(9)

In [165]:
df5.at[22, 'end_date'] = '2021-10-04'
df5.at[22, 'end_time'] = '22:49'
df5.at[22, 'duration'] = '12.48'
df5 = df5.drop(23)
df5 = df5.drop(24)

In [167]:
df5.at[25, 'end_time'] = '03:26'
df5.at[25, 'duration'] = '6.11'
df5 = df5.drop(26)
df5 = df5.drop(27)

In [173]:
# TABLE 6

df6.at[4, 'end_time'] = '12:04'
df6.at[4, 'duration'] = '5.73'
df6 = df6.drop(5)
df6 = df6.drop(6)
df6 = df6.drop(7)

In [175]:
df6.at[8, 'end_time'] = '07:02'
df6.at[8, 'duration'] = '2.29'
df6 = df6.drop(9)

In [177]:
df6.at[13, 'end_time'] = '21:55'
df6.at[13, 'duration'] = '2.52'
df6 = df6.drop(14)

In [179]:
df6.at[19, 'end_date'] = '2021-10-26'
df6.at[19, 'end_time'] = '07:06'
df6.at[19, 'duration'] = '14.42'
df6 = df6.drop(20)
df6 = df6.drop(21)
df6 = df6.drop(22)
df6 = df6.drop(23)
df6 = df6.drop(24)
df6 = df6.drop(25)
df6 = df6.drop(26)
df6 = df6.drop(27)

In [182]:
# TABLE 7

df7.at[0, 'end_date'] = '2021-10-30'
df7.at[0, 'end_time'] = '05:43'
df7.at[0, 'duration'] = '10.89'
df7 = df7.drop(1)

In [184]:
df7.at[2, 'end_time'] = '19:29'
df7.at[2, 'duration'] = '1.74'
df7 = df7.drop(3)

In [186]:
df7.at[5, 'end_time'] = '15:55'
df7.at[5, 'duration'] = '29.26'
df7 = df7.drop(6)

In [188]:
df7.at[11, 'end_time'] = '09:19'
df7.at[11, 'duration'] = '4.03'
df7 = df7.drop(12)

In [190]:
df7.at[13, 'end_time'] = '22:40'
df7.at[13, 'duration'] = '0.74'
df7 = df7.drop(14)
df7 = df7.drop(15)
df7 = df7.drop(16)
df7 = df7.drop(17)

In [192]:
df7.at[19, 'end_time'] = '06:25'
df7.at[19, 'duration'] = '2.68'
df7 = df7.drop(20)

In [194]:
df7.at[25, 'end_time'] = '15:26'
df7.at[25, 'duration'] = '1.08'
df7 = df7.drop(26)

In [197]:
result = pd.concat([df1, df2, df3, df4, df5, df6, df7])
result = result.astype({'event_id':'int'})
result = result.sort_values(by=['event_id'])

In [198]:
result

,event_id,location,start_date,start_time,end_date,end_time,duration,volume,disinfection,reason_code
0,1,HCG03,2021-01-02,00:17,2021-01-02,04:37,3.86,n/a,No,"1,2,7"
2,2,HCG14,2021-01-02,01:06,2021-01-02,02:20,1.23,n/a,No,"1,2,7"
3,3,S,2021-01-02,01:48,2021-01-02,20:37,15.13,50.877,No,"1,2,7"
5,4,HCG03,2021-02-27,06:46,2021-02-27,09:46,3.0,n/a,No,"1,2,7"
6,5,HCG14,2021-02-27,07:34,2021-02-27,09:13,0.69,n/a,No,"1,2,7"
...,...,...,...,...,...,...,...,...,...,...
21,144,HCG14,2021-12-11,04:30,2021-12-11,06:10,1.68,n/a,No,"1,7"
22,145,DC011,2021-12-11,05:17,2021-12-11,06:42,1.42,0.106,No,"1,7"
23,146,DC012,2021-12-11,05:24,2021-12-11,06:04,0.67,0.038,No,"1,7"
24,147,S,2021-12-11,05:40,2021-12-11,14:03,8.38,65.643,No,"1,7"
25,148,HCG03,2021-12-25,13:24,2021-12-25,15:26,1.08,n/a,No,"1,7"