In [441]:
import tabula
import pandas as pd

In [442]:
left = 95.53
top = 82.86
width = 656.64
height = 475.07

y1 = top
x1 = left
y2 = top + height
x2 = left + width

In [443]:
df_tabula = tabula.read_pdf("../data/wastewatercollection-2020-bypass-overflow-log.pdf", pages='all', area=[y1, x1, y2, x2])

In [444]:
df1 = pd.DataFrame(df_tabula[0])
df2 = pd.DataFrame(df_tabula[1])
df3 = pd.DataFrame(df_tabula[2])
df4 = pd.DataFrame(df_tabula[3])

In [445]:
columns = {
    'Event #': 'event_id', 
    'Date\ryyyy-mm-dd': 'start_date', 
    'Time': 'start_time', 
    'Unnamed: 1': 'location', 
    'Date\ryyyy-mm-dd.1': 'end_date', 
    'Time.1': 'end_time', 
    'Hours': 'duration', 
    'ML': 'volume', 
    'Yes / No': 'disinfection',
    'Code': 'reason_code',
    'TBOD\rmg/L': 'TBOD(mg/L)',
    'cBOD\rmg/L': 'cBOD(mg/L)',
    'TSS\rmg/L': 'TSS(mg/L)',
    'TP\rmg/L': 'TP(mg/L)',
    'E.coli\rCFU/100ml': 'EColi(CFU/100ml)',
    'pH': 'final_effluent_pH',
    'Total Cl\rmg/L': 'final_effluent_total_ci(mg/L)'
}

df1 = df1.rename(columns=columns)
df2 = df2.rename(columns=columns)
df3 = df3.rename(columns=columns)
df4 = df4.rename(columns=columns)

In [446]:
# TABLE 1

df1 = df1.drop('Unnamed: 0', axis=1)
df2 = df2.drop('Unnamed: 0', axis=1)
df3 = df3.drop('Unnamed: 0', axis=1)
df4 = df4.drop('Unnamed: 0', axis=1)

In [447]:
df1.at[3, 'end_time'] = '17:25'
df1.at[3, 'duration'] = '46.923'
df1.at[3, 'volume'] = '412.148'
df1 = df1.drop(4)

In [448]:
df1.at[9, 'end_date'] = '2020-01-12'
df1.at[9, 'end_time'] = '07:38'
df1.at[9, 'duration'] = '10.53'
df1.at[9, 'volume'] = '15.33'
df1 = df1.drop(10)

In [449]:
df1.at[25, 'end_time'] = '17:54'
df1.at[25, 'duration'] = '4.26'
df1 = df1.drop(26)
df1 = df1.drop(27)

In [450]:
df1.at[31, 'end_time'] = '15:54'
df1.at[31, 'duration'] = '5.57'
df1 = df1.drop(32)

In [451]:
df1.at[33, 'end_time'] = '11:05'
df1.at[33, 'duration'] = '5.26'
df1 = df1.drop(34)
df1 = df1.drop(35)

In [452]:
df1.at[39, 'end_time'] = '15:41'
df1.at[39, 'duration'] = '4.75'
df1 = df1.drop(40)

In [453]:
df1.at[43, 'end_time'] = '10:11'
df1.at[43, 'duration'] = '5.59'
df1 = df1.drop(44)

In [454]:
df1_last_row = df1.iloc[[36]].shift(periods=1, axis="columns")
df1.iloc[[36]] = df1_last_row
df1.at[45, 'event_id'] = 37

In [455]:
# TABLE 2

df2.at[0, 'end_time'] = '07:55'
df2.at[0, 'duration'] = '5.48'
df2 = df2.drop(1)

In [456]:
df2.at[2, 'end_time'] = '09:15'
df2.at[2, 'duration'] = '5.25'
df2 = df2.drop(3)

In [457]:
df2.at[6, 'end_time'] = '19:48'
df2.at[6, 'duration'] = '3.17'
df2 = df2.drop(7)
df2 = df2.drop(8)
df2 = df2.drop(9)

In [458]:
df2.at[10, 'end_time'] = '18:28'
df2.at[10, 'duration'] = '1.2'
df2 = df2.drop(11)

In [459]:
df2.at[13, 'end_date'] = '2020-05-18'
df2.at[13, 'end_time'] = '21.41'
df2.at[13, 'duration'] = '15.16'
df2 = df2.drop(14)
df2 = df2.drop(15)
df2 = df2.drop(16)
df2 = df2.drop(17)
df2 = df2.drop(18)
df2 = df2.drop(19)

In [460]:
df2.at[20, 'end_date'] = '2020-05-19'
df2.at[20, 'end_time'] = '00:16'
df2.at[20, 'duration'] = '11.95'
df2 = df2.drop(21)

In [461]:
df2.at[22, 'end_time'] = '16:17'
df2.at[22, 'duration'] = '1.97'
df2 = df2.drop(23)

In [462]:
df2.at[24, 'end_time'] = '16:55'
df2.at[24, 'duration'] = '1.94'
df2 = df2.drop(25)

In [463]:
df2.at[27, 'end_date'] = '2020-06-11'
df2.at[27, 'end_time'] = '01:06'
df2.at[27, 'duration'] = '4.03'
df2 = df2.drop(28)
df2 = df2.drop(29)

In [464]:
df2.at[32, 'end_time'] = '23:54'
df2.at[32, 'duration'] = '19:48'
df2 = df2.drop(33)

In [465]:
df2.at[37, 'end_date'] = '2020-07-11'
df2.at[37, 'end_time'] = '00:06'
df2.at[37, 'duration'] = '2.38'
df2 = df2.drop(38)

In [466]:
df2.at[39, 'end_date'] = '2020-07-11'
df2.at[39, 'end_time'] = '01:17'
df2.at[39, 'duration'] = '4.33'
df2 = df2.drop(40)

In [467]:
df2_last_row = df2.iloc[[22]].shift(periods=1, axis="columns")
df2.iloc[[22]] = df2_last_row
df2.at[42, 'event_id'] = 61

In [468]:
df2_missing_row = pd.DataFrame(data={
    'event_id': [62],
    'start_date': ['2020-07-19'],
    'start_time': ['12:49'],
    'location': ['HCG03'],
    'end_date': ['2020-07-19'],
    'end_time': ['13:17'],
    'duration': [0.47],
    'volume': ['n/a'],
    'disinfection': ['No'],
    'reason_code': ['1,7'],
    'TBOD(mg/L)': ['n/a'],
    'cBOD(mg/L)': ['n/a'],
    'TSS(mg/L)': ['n/a'],
    'TP(mg/L)': ['n/a'],
    'EColi(CFU/100ml)': ['n/a'],
    'final_effluent_pH': ['n/a'],
    'final_effluent_total_ci(mg/L)': ['n/a']
})

In [469]:
df2 = pd.concat([df2, df2_missing_row])

In [470]:
# TABLE 3

df3.at[1, 'end_time'] = '09:45'
df3.at[1, 'duration'] = '2.76'
df3 = df3.drop(2)
df3 = df3.drop(3)
df3 = df3.drop(4)
df3 = df3.drop(5)

In [471]:
df3.at[6, 'end_time'] = '09:57'
df3.at[6, 'duration'] = '1.35'
df3 = df3.drop(7)

In [472]:
df3.at[9, 'end_time'] = '22:52'
df3.at[9, 'duration'] = '2.62'
df3 = df3.drop(10)

In [473]:
df3.at[18, 'end_time'] = '22:02'
df3.at[18, 'duration'] = '1.30'
df3 = df3.drop(19)

In [474]:
df3.at[21, 'end_time'] = '22:42'
df3.at[21, 'duration'] = '6.26'
df3 = df3.drop(22)

In [475]:
df3.at[28, 'end_time'] = '10:04'
df3.at[28, 'duration'] = '1.25'
df3 = df3.drop(29)

In [476]:
df3.at[31, 'end_date'] = '2020-09-29'
df3.at[31, 'end_time'] = '00:58'
df3.at[31, 'duration'] = '2.51'
df3 = df3.drop(32)
df3 = df3.drop(33)
df3 = df3.drop(34)

In [477]:
df3.at[35, 'end_date'] = '2020-09-29'
df3.at[35, 'end_time'] = '00:56'
df3.at[35, 'duration'] = '1.07'
df3 = df3.drop(36)

In [478]:
df3.at[37, 'end_date'] = '2020-09-30'
df3.at[37, 'end_time'] = '18:21'
df3.at[37, 'duration'] = '1.27'
df3 = df3.drop(38)

In [479]:
df3_last_row = df3.iloc[[28]].shift(periods=1, axis="columns")
df3.iloc[[28]] = df3_last_row
df3.at[42, 'event_id'] = 91

In [480]:
df3_missing_row = pd.DataFrame(data={
    'event_id': [92],
    'start_date': ['2020-10-04'],
    'start_time': ['16:31'],
    'location': ['HCG03'],
    'end_date': ['2020-10-04'],
    'end_time': ['17:24'],
    'duration': [0.88],
    'volume': ['n/a'],
    'disinfection': ['No'],
    'reason_code': ['1,7'],
    'TBOD(mg/L)': ['n/a'],
    'cBOD(mg/L)': ['n/a'],
    'TSS(mg/L)': ['n/a'],
    'TP(mg/L)': ['n/a'],
    'EColi(CFU/100ml)': ['n/a'],
    'final_effluent_pH': ['n/a'],
    'final_effluent_total_ci(mg/L)': ['n/a']
})

In [481]:
df3 = pd.concat([df3, df3_missing_row])

In [482]:
# TABLE 4

df4.at[3, 'end_date'] = '2020-10-17'
df4.at[3, 'end_time'] = '09:20'
df4.at[3, 'duration'] = '24.93'
df4 = df4.drop(4)

In [483]:
df4.at[5, 'end_time'] = '22:44'
df4.at[5, 'duration'] = '4.25'
df4.at[5, 'reason_code'] = 'n/a'
df4 = df4.drop(6)

In [484]:
df4.at[7, 'end_time'] = '04:13'
df4.at[7, 'duration'] = '5.35'
df4 = df4.drop(8)

In [485]:
df4.at[12, 'end_date'] = '2020-10-28'
df4.at[12, 'end_time'] = '06:44'
df4.at[12, 'duration'] = '95.04'
df4 = df4.drop(13)
df4 = df4.drop(14)

In [486]:
df4.at[16, 'end_time'] = '15:22'
df4.at[16, 'duration'] = '1.89'
df4 = df4.drop(17)

In [487]:
df4.at[24, 'end_time'] = '15:21'
df4.at[24, 'duration'] = '1.33'
df4 = df4.drop(25)
df4 = df4.drop(26)

In [488]:
df4.at[27, 'end_time'] = '06:58'
df4.at[27, 'duration'] = '4.94'
df4 = df4.drop(28)

In [489]:
df4.at[30, 'end_time'] = '19:47'
df4.at[30, 'duration'] = '4.23'
df4 = df4.drop(31)
df4 = df4.drop(32)
df4 = df4.drop(33)

In [490]:
# COMBINE THE 4 TABLES

result = pd.concat([df1, df2, df3, df4])
result = result.astype({'event_id':'int'})
result = result.sort_values(by=['event_id'])

In [491]:
result

,event_id,start_date,start_time,location,end_date,end_time,duration,volume,disinfection,reason_code,TBOD(mg/L),cBOD(mg/L),TSS(mg/L),TP(mg/L),EColi(CFU/100ml),final_effluent_pH,final_effluent_total_ci(mg/L)
0,1,2020-01-11,00:27,HCG03,2020-01-12,20:47,37.81,n/a,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
1,2,2020-01-11,11:21,S,2020-01-13,04:15,40.90,637.590,No,"1,7",35,n/a,75.0,1.00,"996,667",7.12,n/a
2,3,2020-01-11,15:01,HCS04,2020-01-13,23:37,56.60,127.121,No,"1,7",n/a,21,141,0.574,"770,000",n/a,n/a
3,4,2020-01-11,15:21,HCS01,2020-01-13,17:25,46.923,412.148,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
5,5,2020-01-11,14:01,DC011,2020-01-12,05:53,1.07,0.072,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24,111,2020-12-12,13:48,HCG14,2020-12-12,15:21,1.33,n/a,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
29,112,2020-12-28,04:39,S,2020-12-28,11:41,7.03,44.188,No,"1,2,7",32,n/a,70,1.33,"930,000",7.10,0.00
27,113,2020-12-28,01:19,HCG03,2020-12-28,06:58,4.94,n/a,No,"1,2,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
34,114,2020-12-30,18:43,S,2020-12-30,22:34,3.85,27.947,No,"1,2,7",70,n/a,93,1.79,"930,000",7.18,0.00
30,115,2020-12-30,13:10,HCG03,2020-12-30,19:47,4.23,n/a,No,"1,2,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a