In [302]:
import tabula
import pandas as pd

In [303]:
df = tabula.read_pdf("../data/wastewatercollection-2019-bypass-overflow-log.pdf", pages='1')

In [304]:
pd_df = pd.DataFrame(df[0])

In [305]:
pd_df =pd_df.rename(columns={
    'Event #': 'event_id', 
    'Start\rDateTime\ryyyy-mm-dd': 'start_date', 
    'Location\r(see\rbelow)': 'start_time', 
    'Stop\rDateTime\ryyyy-mm-dd': 'location', 
    'DurationVolume\rDisinfectionReason\rHoursMLYes / NoCode': 'end_date', 
    'Sample Results': 'end_time', 
    'Unnamed: 0': 'duration', 
    'Unnamed: 1': 'volume', 
    'Unnamed: 2': 'disinfection',
    'Unnamed: 3': 'reason_code',
    'Unnamed: 4': 'TBOD(mg/L)',
    'Unnamed: 5': 'cBOD(mg/L)',
    'Unnamed: 6': 'TSS(mg/L)',
    'Unnamed: 7': 'TP(mg/L)',
    'Unnamed: 8': 'EColi(CFU/100ml)',
    'Unnamed: 9': 'final_effluent_pH',
    'Unnamed: 10': 'final_effluent_total_ci(mg/L)'
})

In [306]:
pd_df = pd_df.drop(0)
pd_df = pd_df.drop(12)
pd_df.at[11, 'end_date'] = '2019-04-21'
pd_df.at[11, 'end_time'] = '02:30'
pd_df.at[11, 'duration'] = '21.11'
pd_df.at[11, 'final_effluent_pH'] = '7.50'

In [307]:
pd_df

,event_id,start_date,start_time,location,end_date,end_time,duration,volume,disinfection,reason_code,TBOD(mg/L),cBOD(mg/L),TSS(mg/L),TP(mg/L),EColi(CFU/100ml),final_effluent_pH,final_effluent_total_ci(mg/L)
1,1.0,2019-01-23,17:26,S,2019-01-24,05:26,12.00,112.068,No,"1,2,7",72.0,n/a,116,2.01,n/a,7.49,n/a
2,2.0,2019-02-06,16:20,S,2019-02-06,20:32,4.20,24.089,No,"1,2,7",68.0,n/a,95.5,1.54,n/a,7.02,n/a
3,3.0,2019-02-12,23:43,S,2019-02-13,02:34,2.86,28.050,No,"1,2,7",62.0,n/a,73.2,1.54,n/a,7.27,n/a
4,4.0,2019-02-24,14:03,S,2019-02-24,21:10,7.12,21.111,No,"1,2,7",39.0,n/a,89.0,1.62,n/a,7.19,n/a
5,5.0,2019-03-10,11:12,S,2019-03-10,23:28,12.26,100.792,No,"1,2,7",54.0,n/a,67.0,1.54,n/a,6.97,n/a
6,6.0,2019-03-30,14:00,S,2019-04-01,00:33,34.55,375.967,No,"1,2,7",33.0,n/a,73.4,1.56,n/a,7.09,n/a
7,7.0,2019-03-31,01:10,HCS01,2019-03-31,05:50,4.67,1.981,No,"1,2,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
8,8.0,2019-04-08,00:55,S,2019-04-08,04:06,3.18,17.428,No,"1,7",59.0,n/a,87.0,1.97,n/a,7.21,n/a
9,9.0,2019-04-14,21:17,S,2019-04-15,10:46,13.48,107.730,No,"1,7",42.0,n/a,76.1,1.27,n/a,7.09,n/a
10,10.0,2019-04-15,08:20,HCS01,2019-04-15,14:40,6.33,19.591,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
11,11.0,2019-04-19,22:13,S,2019-04-21,02:30,21.11,190.770,No,"1,7",51.0,n/a,64.3,1.160,n/a,7.50,n/a
13,12.0,2019-04-20,11:30,HCS01,2019-04-21,12:10,24.67,151.847,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
14,13.0,2019-04-20,13:20,HCS05,2019-04-21,05:10,15.83,25.241,No,"1,7",n/a,16,23.1,0.969,"1,070,000",n/a,n/a
15,14.0,2019-04-20,18:10,HCS04,2019-04-21,02:20,8.17,8.033,No,"1,7",n/a,n/a*,n/a*,n/a*,n/a*,n/a,n/a
16,15.0,2019-04-26,07:14,S,2019-04-26,12:31,5.30,32.390,No,"1,7",41.0,n/a,74.0,1.16,n/a,7.14,n/a
17,16.0,2019-05-01,06:28,S,2019-05-01,10:39,4.18,19.610,No,"1,7",25.0,n/a,17.0,0.716,n/a,7.15,n/a
18,17.0,2019-05-03,03:05,S,2019-05-03,20:25,17.33,127.990,No,"1,7",40.0,n/a,49.5,0.890,n/a,7.14,n/a
19,18.0,2019-05-03,05:10,HCS01,2019-05-04,00:50,19.00,97.821,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
20,19.0,2019-05-10,07:20,S,2019-05-10,12:18,4.97,27.850,No,"1,7",27.0,n/a,39.0,0.841,n/a,7.10,n/a
21,20.0,2019-05-13,08:10,HCS05,2019-05-13,19:10,11.00,49.171,No,"1,7",n/a,11,4.0,0.051,550,n/a,n/a
22,21.0,2019-05-14,04:00,HCS01,2019-05-15,01:00,21.00,48.702,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
23,22.0,2019-05-14,06:40,HCS05,2019-05-14,23:40,17.00,69.676,No,"1,7",n/a,11,9.7,0.363,"430,000",n/a,n/a
24,23.0,2019-05-25,09:21,S,2019-05-27,00:47,39.45,215.300,Yes,"1,7",n/a,32,75.7,1.46,n/a,7.20,0.01
25,24.0,2019-05-25,18:40,HCS01,2019-05-27,02:10,31.50,85.306,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
26,25.0,2019-05-28,06:40,HCS01,2019-05-29,00:30,17.83,29.641,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
27,26.0,2019-05-28,08:05,S,2019-05-28,23:58,15.89,64.970,Yes,"1,7",n/a,30,43.5,1.08,n/a,7.39,0.01
28,27.0,2019-06-05,14:39,S,2019-06-06,03:04,12.43,91.070,Yes,"1,7",n/a,13,28.3,0.792,n/a,7.01,0.00
29,28.0,2019-06-10,18:02,S,2019-06-11,01:04,7.03,65.850,Yes,"1,7",34.0,n/a,34.3,0.864,n/a,7.02,0.00
30,29.0,2019-06-13,11:02,S,2019-06-14,06:02,19.01,116.970,Yes,"1,7",24.0,n/a,17.8,0.702,"41,263",7.03,0.01
31,30.0,2019-06-20,21:47,S,2019-06-21,16:23,18.58,107.220,Yes,"1,7",32.5,n/a,34.4,0.920,"471,500",6.85,0.00
32,31.0,2019-06-25,00:46,S,2019-06-25,15:10,14.39,90.380,Yes,"1,7",42.0,n/a,51.0,1.26,"1,050,000",6.93,0.00
33,32.0,2019-07-06,13:59,S,2019-07-07,23:53,33.90,231.110,Yes,"1,7",34.0,n/a,46.2,0.779,"1,762,000",6.96,0.02
34,33.0,2019-07-06,15:30,HCS08,2019-07-08,01:10,33.67,76.851,No,"1,7",n/a,6,212,0.418,"64,000",n/a,n/a
35,34.0,2019-07-06,19:20,HCS04,2019-07-08,00:00,28.67,35.671,No,"1,7",n/a,15,23.0,0.504,"450,000",n/a,n/a
36,35.0,2019-07-06,19:30,HCS09,2019-07-06,21:00,1.50,10.562,No,"1,7",n/a,11,77.7,0.495,"850,000",n/a,n/a
37,36.0,2019-07-06,20:00,HCS01,2019-07-08,01:00,29.00,98.351,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
38,37.0,2019-07-17,11:19,S,2019-07-17,17:15,5.93,28.600,Yes,"1,7",49.0,n/a,63.0,1.79,"3,400,000",7.11,0.01
39,38.0,2019-07-20,22:52,S,2019-07-21,02:30,3.63,26.260,Yes,"1,7",39.0,n/a,64.8,1.26,"2,400,000",7.07,0.00
40,39.0,2019-07-30,07:38,S,2019-07-30,11:20,3.70,28.320,Yes,"1,7",40.0,n/a,48.0,1.50,"2,000,000",6.83,0.00
41,40.0,2019-08-08,16:00,S,2019-08-08,18:35,2.60,25.710,Yes,"1,7",99.0,n/a,69.0,2.62,"7,300,000",6.84,0.00
42,41.0,2019-08-18,06:37,S,2019-08-18,10:12,3.58,13.630,Yes,"1,7",23.0,n/a,30.0,0.66,"2,800,000",6.78,0.00
43,42.0,2019-09-11,21:11,S,2019-09-11,23:59,2.79,28.700,Yes,"1,7",65.0,n/a,51.5,1.68,"6,100,000",6.77,0.00

In [308]:
# EXTRACT SECOND PAGE TABLE
# Requires more precision, so we use the "area" parameter in tabula

In [309]:
left = 38.04
top = 96.52
width = 714.63
height = 293.78

y1 = top
x1 = left
y2 = top + height
x2 = left + width

In [310]:
df_2 = tabula.read_pdf("../data/wastewatercollection-2019-bypass-overflow-log.pdf", pages='2', area=[y1, x1, y2, x2])

In [311]:
pd_df_2 = pd.DataFrame(df_2[0])

In [312]:
pd_df_2 = pd_df_2.rename(columns={
    'Unnamed: 0': 'event_id', 
    'Date\ryyyy-mm-dd': 'start_date', 
    'Time': 'start_time', 
    '(see\rbelow)': 'location', 
    'Date\ryyyy-mm-dd.1': 'end_date', 
    'Time.1': 'end_time', 
    'Hours': 'duration', 
    'ML': 'volume', 
    'Yes / No': 'disinfection',
    'Code': 'reason_code',
    'TBOD\rmg/L': 'TBOD(mg/L)',
    'cBOD\rmg/L': 'cBOD(mg/L)',
    'TSS\rmg/L': 'TSS(mg/L)',
    'TP\rmg/L': 'TP(mg/L)',
    'E.coli\rCFU/100ml': 'EColi(CFU/100ml)',
    'pH': 'final_effluent_pH',
    'Total Cl\rmg/L': 'final_effluent_total_ci(mg/L)'
})

In [313]:
pd_df_2.at[0, 'end_date'] = '2019-10-02'
pd_df_2.at[0, 'end_time'] = '19:45'
pd_df_2.at[0, 'final_effluent_pH'] = '6.99'
pd_df_2.at[0, 'final_effluent_total_ci(mg/L)'] = '0.01'
pd_df_2 = pd_df_2.drop(1)
pd_df_2 = pd_df_2.drop(2)

In [314]:

pd_df_2.at[19, 'end_date'] = '2019-12-31'
pd_df_2.at[19, 'end_time'] = '11:21'
pd_df_2.at[19, 'duration'] = '14.50'
pd_df_2 = pd_df_2.drop(20)
pd_df_2 = pd_df_2.drop(21)
pd_df_2 = pd_df_2.drop(22)
pd_df_2 = pd_df_2.drop(23)

In [315]:
pd_df_2

,event_id,start_date,start_time,location,end_date,end_time,duration,volume,disinfection,reason_code,TBOD(mg/L),cBOD(mg/L),TSS(mg/L),TP(mg/L),EColi(CFU/100ml),final_effluent_pH,final_effluent_total_ci(mg/L)
0,43.0,2019-10-01,18:09,S,2019-10-02,19:45,14.66,53.390,Yes,"1,7",62.0,n/a,72.7,1.73,"4,700,000",6.99,0.01
3,44.0,2019-10-16,07:31,HCG14,2019-10-16,07:39,0.13,n/a,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
4,45.0,2019-10-16,08:20,S,2019-10-16,14:22,6.03,30.160,No,"1,7",36.0,n/a,47.0,1.43,"1,500,000",6.91,n/a
5,46.0,2019-10-27,02:33,S,2019-10-27,15:34,13.01,180.390,No,"1,7",37.0,n/a,59.9,1.45,"1,260,000",7.06,n/a
6,47.0,2019-10-27,04:00,HCS04,2019-10-27,15:50,11.83,34.453,No,"1,7",n/a,n/a*,n/a*,n/a*,n/a*,n/a,n/a
7,48.0,2019-10-27,03:10,DC011,2019-10-27,04:03,0.88,0.009,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
8,49.0,2019-10-27,03:07,HCG14,2019-10-27,03:31,0.40,n/a,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
9,50.0,2019-10-27,04:20,HCS01,2019-10-28,00:10,19.83,103.195,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
10,51.0,2019-10-27,04:30,HCS07,2019-10-27,07:50,3.33,6.292,No,"1,7",n/a,n/a**,n/a**,n/a**,n/a**,n/a,n/a
11,52.0,2019-10-27,10:30,HCS05,2019-10-27,21:00,10.50,11.682,No,"1,7",n/a,99,113,2.44,"2,100,000",n/a,n/a
12,53.0,2019-10-31,13:00,S,2019-11-01,02:30,13.51,171.000,No,"1,7",38.5,n/a,44.9,1.12,"640,000",6.99,n/a
13,54.0,2019-10-31,16:20,HCS01,2019-11-01,15:40,23.30,116.802,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
14,55.0,2019-10-31,16:30,HCS04,2019-11-01,07:30,15.00,35.112,No,"1,7",n/a,20,10.7,0.975,"1,900,000",n/a,n/a
15,56.0,2019-12-01,12:03,S,2019-12-01,23:56,11.89,78.180,No,"1,7",53.5,n/a,85.7,1.76,"1,410,000",7.12,n/a
16,57.0,2019-12-14,07:03,HCG03,2019-12-14,17:08,10.08,n/a,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
17,58.0,2019-12-14,10:36,S,2019-12-14,11:35,12.98,106.630,No,"1,7",57.0,n/a,77.5,1.63,"1,535,000",7.13,n/a
18,59.0,2019-12-30,03:05,S,2019-12-30,19:52,16.79,127.000,No,"1,7",48.7,n/a,73,1.53,"1,766,667",7.23,n/a
19,60.0,2019-12-29,12:03,HCG03,2019-12-31,11:21,14.50,n/a,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
24,61.0,2019-12-30,08:32,HCS01,2019-12-31,05:10,20.60,85.023,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
25,62.0,2019-12-30,08:32,HCS05,2019-12-30,16:53,8.30,18.646,No,"1,7",n/a,65,176,2.12,"1,600,000",n/a,n/a

In [316]:
# COMBINE TWO TABLES

In [318]:
result = pd.concat([pd_df, pd_df_2])

In [320]:
result = result.astype({'event_id':'int'})

In [321]:
result

,event_id,start_date,start_time,location,end_date,end_time,duration,volume,disinfection,reason_code,TBOD(mg/L),cBOD(mg/L),TSS(mg/L),TP(mg/L),EColi(CFU/100ml),final_effluent_pH,final_effluent_total_ci(mg/L)
1,1,2019-01-23,17:26,S,2019-01-24,05:26,12.00,112.068,No,"1,2,7",72.0,n/a,116,2.01,n/a,7.49,n/a
2,2,2019-02-06,16:20,S,2019-02-06,20:32,4.20,24.089,No,"1,2,7",68.0,n/a,95.5,1.54,n/a,7.02,n/a
3,3,2019-02-12,23:43,S,2019-02-13,02:34,2.86,28.05,No,"1,2,7",62.0,n/a,73.2,1.54,n/a,7.27,n/a
4,4,2019-02-24,14:03,S,2019-02-24,21:10,7.12,21.111,No,"1,2,7",39.0,n/a,89.0,1.62,n/a,7.19,n/a
5,5,2019-03-10,11:12,S,2019-03-10,23:28,12.26,100.792,No,"1,2,7",54.0,n/a,67.0,1.54,n/a,6.97,n/a
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17,58,2019-12-14,10:36,S,2019-12-14,11:35,12.98,106.630,No,"1,7",57.0,n/a,77.5,1.63,"1,535,000",7.13,n/a
18,59,2019-12-30,03:05,S,2019-12-30,19:52,16.79,127.000,No,"1,7",48.7,n/a,73,1.53,"1,766,667",7.23,n/a
19,60,2019-12-29,12:03,HCG03,2019-12-31,11:21,14.50,n/a,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
24,61,2019-12-30,08:32,HCS01,2019-12-31,05:10,20.60,85.023,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
25,62,2019-12-30,08:32,HCS05,2019-12-30,16:53,8.30,18.646,No,"1,7",n/a,65,176,2.12,"1,600,000",n/a,n/a