In [284]:
import tabula
import pandas as pd

In [285]:
left = 95.53
top = 82.86
width = 656.64
height = 475.07

y1 = top
x1 = left
y2 = top + height
x2 = left + width

In [286]:
df_tabula = tabula.read_pdf("../data/wastewatercollection-2020-bypass-overflow-log.pdf", pages='all', area=[y1, x1, y2, x2])

In [287]:
df1 = pd.DataFrame(df_tabula[0])
df2 = pd.DataFrame(df_tabula[1])
df3 = pd.DataFrame(df_tabula[2])
df4 = pd.DataFrame(df_tabula[3])

In [288]:
columns = {
    'Event #': 'event_id', 
    'Date\ryyyy-mm-dd': 'start_date', 
    'Time': 'start_time', 
    'Unnamed: 1': 'location', 
    'Date\ryyyy-mm-dd.1': 'end_date', 
    'Time.1': 'end_time', 
    'Hours': 'duration', 
    'ML': 'volume', 
    'Yes / No': 'disinfection',
    'Code': 'reason_code',
    'TBOD\rmg/L': 'TBOD(mg/L)',
    'cBOD\rmg/L': 'cBOD(mg/L)',
    'TSS\rmg/L': 'TSS(mg/L)',
    'TP\rmg/L': 'TP(mg/L)',
    'E.coli\rCFU/100ml': 'EColi(CFU/100ml)',
    'pH': 'final_effluent_pH',
    'Total Cl\rmg/L': 'final_effluent_total_ci(mg/L)'
}

df1 = df1.rename(columns=columns)
df2 = df2.rename(columns=columns)
df3 = df3.rename(columns=columns)
df4 = df4.rename(columns=columns)

In [289]:
# TABLE 1

df1 = df1.drop('Unnamed: 0', axis=1)
df2 = df2.drop('Unnamed: 0', axis=1)
df3 = df3.drop('Unnamed: 0', axis=1)
df4 = df4.drop('Unnamed: 0', axis=1)

In [290]:
df1.at[3, 'end_time'] = '17:25'
df1.at[3, 'duration'] = '46.923'
df1.at[3, 'volume'] = '412.148'
df1 = df1.drop(4)

In [291]:
df1.at[9, 'end_date'] = '2020-01-12'
df1.at[9, 'end_time'] = '07:38'
df1.at[9, 'duration'] = '10.53'
df1.at[9, 'volume'] = '15.33'
df1 = df1.drop(10)

In [292]:
df1.at[25, 'end_time'] = '17:54'
df1.at[25, 'duration'] = '4.26'
df1 = df1.drop(26)
df1 = df1.drop(27)

In [293]:
df1.at[31, 'end_time'] = '15:54'
df1.at[31, 'duration'] = '5.57'
df1 = df1.drop(32)

In [294]:
df1.at[33, 'end_time'] = '11:05'
df1.at[33, 'duration'] = '5.26'
df1 = df1.drop(34)
df1 = df1.drop(35)

In [295]:
df1.at[39, 'end_time'] = '15:41'
df1.at[39, 'duration'] = '4.75'
df1 = df1.drop(40)

In [296]:
df1.at[43, 'end_time'] = '10:11'
df1.at[43, 'duration'] = '5.59'
df1 = df1.drop(44)

In [297]:
df1_last_row = df1.iloc[[36]].shift(periods=1, axis="columns")
df1.iloc[[36]] = df1_last_row
df1.at[45, 'event_id'] = 37

In [298]:
# TABLE 2

df2.at[0, 'end_time'] = '07:55'
df2.at[0, 'duration'] = '5.48'
df2 = df2.drop(1)

In [299]:
df2.at[2, 'end_time'] = '09:15'
df2.at[2, 'duration'] = '5.25'
df2 = df2.drop(3)

In [300]:
df2.at[6, 'end_time'] = '19:48'
df2.at[6, 'duration'] = '3.17'
df2 = df2.drop(7)
df2 = df2.drop(8)
df2 = df2.drop(9)

In [301]:
df2.at[10, 'end_time'] = '18:28'
df2.at[10, 'duration'] = '1.2'
df2 = df2.drop(11)

In [302]:
df2.at[13, 'end_date'] = '2020-05-18'
df2.at[13, 'end_time'] = '21.41'
df2.at[13, 'duration'] = '15.16'
df2 = df2.drop(14)
df2 = df2.drop(15)
df2 = df2.drop(16)
df2 = df2.drop(17)
df2 = df2.drop(18)
df2 = df2.drop(19)

In [303]:
df2.at[20, 'end_date'] = '2020-05-19'
df2.at[20, 'end_time'] = '00:16'
df2.at[20, 'duration'] = '11.95'
df2 = df2.drop(21)

In [304]:
df2.at[22, 'end_time'] = '16:17'
df2.at[22, 'duration'] = '1.97'
df2 = df2.drop(23)

In [305]:
df2.at[24, 'end_time'] = '16:55'
df2.at[24, 'duration'] = '1.94'
df2 = df2.drop(25)

In [306]:
df2.at[27, 'end_date'] = '2020-06-11'
df2.at[27, 'end_time'] = '01:06'
df2.at[27, 'duration'] = '4.03'
df2 = df2.drop(28)
df2 = df2.drop(29)

In [307]:
df2.at[32, 'end_time'] = '23:54'
df2.at[32, 'duration'] = '19:48'
df2 = df2.drop(33)

In [308]:
df2.at[37, 'end_date'] = '2020-07-11'
df2.at[37, 'end_time'] = '00:06'
df2.at[37, 'duration'] = '2.38'
df2 = df2.drop(38)

In [309]:
df2.at[39, 'end_date'] = '2020-07-11'
df2.at[39, 'end_time'] = '01:17'
df2.at[39, 'duration'] = '4.33'
df2 = df2.drop(40)

In [310]:
df2_last_row = df2.iloc[[22]].shift(periods=1, axis="columns")
df2.iloc[[22]] = df2_last_row
df2.at[42, 'event_id'] = 61

In [311]:
df2_missing_row = pd.DataFrame(data={
    'event_id': [62],
    'start_date': ['2020-07-19'],
    'start_time': ['12:49'],
    'location': ['HCG03'],
    'end_date': ['2020-07-19'],
    'end_time': ['13:17'],
    'duration': [0.47],
    'volume': ['n/a'],
    'disinfection': ['No'],
    'reason_code': ['1,7'],
    'TBOD(mg/L)': ['n/a'],
    'cBOD(mg/L)': ['n/a'],
    'TSS(mg/L)': ['n/a'],
    'TP(mg/L)': ['n/a'],
    'EColi(CFU/100ml)': ['n/a'],
    'final_effluent_pH': ['n/a'],
    'final_effluent_total_ci(mg/L)': ['n/a']
})

In [312]:
df2 = pd.concat([df2, df2_missing_row])

In [313]:
# TABLE 3

df3.at[1, 'end_time'] = '09:45'
df3.at[1, 'duration'] = '2.76'
df3 = df3.drop(2)
df3 = df3.drop(3)
df3 = df3.drop(4)
df3 = df3.drop(5)

In [314]:
df3.at[6, 'end_time'] = '09:57'
df3.at[6, 'duration'] = '1.35'
df3 = df3.drop(7)

In [315]:
df3.at[9, 'end_time'] = '22:52'
df3.at[9, 'duration'] = '2.62'
df3 = df3.drop(10)

In [316]:
df3.at[18, 'end_time'] = '22:02'
df3.at[18, 'duration'] = '1.30'
df3 = df3.drop(19)

In [317]:
df3.at[21, 'end_time'] = '22:42'
df3.at[21, 'duration'] = '6.26'
df3 = df3.drop(22)

In [318]:
df3.at[28, 'end_time'] = '10:04'
df3.at[28, 'duration'] = '1.25'
df3 = df3.drop(29)

In [319]:
df3.at[31, 'end_date'] = '2020-09-29'
df3.at[31, 'end_time'] = '00:58'
df3.at[31, 'duration'] = '2.51'
df3 = df3.drop(32)
df3 = df3.drop(33)
df3 = df3.drop(34)

In [320]:
df3.at[35, 'end_date'] = '2020-09-29'
df3.at[35, 'end_time'] = '00:56'
df3.at[35, 'duration'] = '1.07'
df3 = df3.drop(36)

In [321]:
df3.at[37, 'end_date'] = '2020-09-30'
df3.at[37, 'end_time'] = '18:21'
df3.at[37, 'duration'] = '1.27'
df3 = df3.drop(38)

In [322]:
df3_last_row = df3.iloc[[28]].shift(periods=1, axis="columns")
df3.iloc[[28]] = df3_last_row
df3.at[42, 'event_id'] = 91

,event_id,start_date,start_time,location,end_date,end_time,duration,volume,disinfection,reason_code,TBOD(mg/L),cBOD(mg/L),TSS(mg/L),TP(mg/L),EColi(CFU/100ml),final_effluent_pH,final_effluent_total_ci(mg/L)
0,63,2020-07-19,13:09,HCG14,2020-07-19,13:38,0.48,n/a,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
1,64,2020-08-02,00:35,HCG03,2020-08-02,09:45,2.76,n/a,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
6,65,2020-08-02,07:04,HCG14,2020-08-02,09:57,1.35,n/a,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
8,66,2020-08-03,16:47,HCG03,2020-08-03,17:45,0.97,n/a,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
9,67,2020-08-03,16:53,HCG14,2020-08-03,22:52,2.62,n/a,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
11,68,2020-08-04,18:58,HCG03,2020-08-04,20:22,1.40,n/a,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
12,69,2020-08-04,19:15,HCG14,2020-08-05,02:04,6.82,n/a,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
13,70,2020-08-04,19:16,HC015,2020-08-04,19:45,0.07,n/a,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
14,71,2020-08-04,19:30,HC001,2020-08-04,20:00,0.50,1.080,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
15,72,2020-08-04,19:54,S,2020-08-05,02:40,6.77,54.665,Yes,"1,7",54,n/a,62.0,1.72,"2,600,000",7.08,0.02
16,73,2020-08-04,20:03,HCS08,2020-08-04,21:56,1.88,9.848,No,"1,7",n/a,6,203,0.418,"100,000",n/a,n/a
17,74,2020-08-04,20:49,HCS04,2020-08-05,08:57,12.13,10.998,No,"1,7",n/a,11,66.9,0.507,"470,000",n/a,n/a
18,75,2020-08-17,15:05,HCG03,2020-08-17,22:02,1.30,n/a,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
20,76,2020-08-17,15:16,HC001,2020-08-17,15:40,0.40,0.997,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
21,77,2020-08-17,15:14,HCG14,2020-08-17,22:42,6.26,n/a,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
23,78,2020-08-17,15:56,S,2020-08-18,01:09,9.22,65.268,Yes,"1,7",64,n/a,61.5,1.87,"6,745,000",7.17,0.00
24,79,2020-08-25,01:08,HCG03,2020-08-25,01:52,0.73,n/a,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
25,80,2020-08-25,01:16,HCG14,2020-08-25,02:08,0.87,n/a,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
26,81,2020-09-07,04:22,HCG03,2020-09-07,05:49,1.45,n/a,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
27,82,2020-09-07,04:31,HCG14,2020-09-07,05:36,1.08,n/a,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
28,83,2020-09-13,03:46,HCG03,2020-09-13,10:04,1.25,n/a,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
30,84,2020-09-13,09:32,HCG14,2020-09-13,10:07,0.58,n/a,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
31,85,2020-09-28,20:07,HCG03,2020-09-29,00:58,2.51,n/a,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
35,86,2020-09-28,23:18,HCG14,2020-09-29,00:56,1.07,n/a,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
37,87,2020-09-30,15:56,HCG03,2020-09-30,18:21,1.27,n/a,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
39,88,2020-09-30,16:43,HCG14,2020-09-30,16:59,0.27,n/a,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
40,89,2020-10-01,17:50,HCG03,2020-10-01,19:08,1.30,n/a,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
41,90,2020-10-01,18:03,HCG14,2020-10-01,19:00,0.95,n/a,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
42,91,2020-10-02,14:40,HCG03,2020-10-02,15:00,0.33,n/a,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a

In [323]:
df3_missing_row = pd.DataFrame(data={
    'event_id': [92],
    'start_date': ['2020-10-04'],
    'start_time': ['16:31'],
    'location': ['HCG03'],
    'end_date': ['2020-10-04'],
    'end_time': ['17:24'],
    'duration': [0.88],
    'volume': ['n/a'],
    'disinfection': ['No'],
    'reason_code': ['1,7'],
    'TBOD(mg/L)': ['n/a'],
    'cBOD(mg/L)': ['n/a'],
    'TSS(mg/L)': ['n/a'],
    'TP(mg/L)': ['n/a'],
    'EColi(CFU/100ml)': ['n/a'],
    'final_effluent_pH': ['n/a'],
    'final_effluent_total_ci(mg/L)': ['n/a']
})

In [324]:
df3 = pd.concat([df3, df3_missing_row])

In [326]:
# TABLE 4

df4.at[35, 'end_date'] = '2020-09-29'
df4.at[35, 'end_time'] = '00:56'
df4.at[35, 'duration'] = '1.07'
df4 = df3.drop(36)

,event_id,start_date,start_time,location,end_date,end_time,duration,volume,disinfection,reason_code,TBOD(mg/L),cBOD(mg/L),TSS(mg/L),TP(mg/L),EColi(CFU/100ml),final_effluent_pH,final_effluent_total_ci(mg/L)
0,93.0,2020-10-07,08:25,HCG03,2020-10-07,09:15,0.83,n/a,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
1,94.0,2020-10-13,02:51,HCG03,2020-10-13,03:36,0.75,n/a,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
2,95.0,2020-10-15,14:48,HCG03,2020-10-15,23:10,2.50,n/a,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
3,96.0,2020-10-15,22:36,HCG14,2020-10-16,11:15,12.65,n/a,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
4,NaN,2020-10-16,21:03,2020-10-17,09:20,12.28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,97.0,2020-10-16,13:41,HCG03,2020-10-16,13:46,0.08,n/a,No,NaN,n/a,n/a,n/a,n/a,n/a,n/a,n/a
6,NaN,2020-10-16,18:34,2020-10-16,22:44,4.17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,98.0,2020-10-19,21:55,HCG03,2020-10-20,00:10,2.25,n/a,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
8,NaN,2020-10-20,01:07,2020-10-20,04:13,3.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,99.0,2020-10-21,05:14,HCG03,2020-10-21,05:57,0.72,n/a,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
10,100.0,2020-10-22,06:15,HCG03,2020-10-22,06:56,0.68,n/a,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
11,101.0,2020-10-23,20:07,HCG03,2020-10-23,21:49,1.70,n/a,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
12,102.0,2020-10-23,20:08,HCG14,2020-10-26,15:14,67.10,n/a,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
13,NaN,2020-10-26,20:36,2020-10-27,10:26,13.83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,2020-10-27,16:37,2020-10-28,06:44,14.11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,103.0,2020-11-01,09:13,HCG03,2020-11-01,09:39,0.43,n/a,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
16,104.0,2020-11-15,09:07,HCG03,2020-11-15,10:26,1.32,n/a,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
17,NaN,2020-11-15,14:48,2020-11-15,15:22,0.57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,105.0,2020-11-22,12:54,HCG03,2020-11-22,18:47,5.88,n/a,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
19,106.0,2020-11-26,02:32,HCG03,2020-11-26,02:58,0.43,n/a,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
20,107.0,2020-11-30,08:43,HCG03,2020-11-30,14:57,6.23,n/a,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
21,108.0,2020-11-30,11:32,HCG14,2020-11-30,12:19,0.78,n/a,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
22,109.0,2020-11-30,11:50,S,2020-12-01,03:08,15.30,125.225,No,"1,7",82,n/a,130,2.55,"1,450,000",6.99,0.00
23,110.0,2020-12-12,13:16,HCG03,2020-12-12,15:33,2.28,n/a,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
24,111.0,2020-12-12,13:48,HCG14,2020-12-12,14:12,0.40,n/a,No,"1,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
25,NaN,2020-12-12,14:24,2020-12-12,14:27,0.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,2020-12-12,14:28,2020-12-12,15:21,0.88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,113.0,2020-12-28,01:19,HCG03,2020-12-28,05:08,3.82,n/a,No,"1,2,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
28,NaN,2020-12-28,05:50,2020-12-28,06:58,1.12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,112.0,2020-12-28,04:39,S,2020-12-28,11:41,7.03,44.188,No,"1,2,7",32,n/a,70,1.33,"930,000",7.10,0.00
30,115.0,2020-12-30,13:10,HCG03,2020-12-30,13:38,0.45,n/a,No,"1,2,7",n/a,n/a,n/a,n/a,n/a,n/a,n/a
31,NaN,2020-12-30,14:27,2020-12-30,15:30,1.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,2020-12-30,16:39,2020-12-30,18:23,1.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,2020-12-30,18:48,2020-12-30,19:47,0.98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,114.0,2020-12-30,18:43,S,2020-12-30,22:34,3.85,27.947,No,"1,2,7",70,n/a,93,1.79,"930,000",7.18,0.00