In [11]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from utils import snake_case

In [12]:
overflow_URL = 'https://www.hamilton.ca/home-neighbourhood/water-wastewater-stormwater/wastewater-collection-treatment/monitoring'

In [13]:
response = requests.get(overflow_URL)

In [14]:
doc = BeautifulSoup(response.text, 'html.parser')

In [22]:
overflow_table = doc.find_all('table')[1]

In [24]:
table_columns = []
for i in overflow_table.find_all('th'):
    column_name = snake_case(i.text.lower())
    table_columns.append(column_name)

In [26]:
table_data = pd.DataFrame(columns = table_columns)

In [27]:
for j in overflow_table.find_all('tr')[1:]:
 row_data = j.find_all('td')
 row = [i.text for i in row_data]
 length = len(table_data)
 table_data.loc[length] = row

In [30]:
table_data.to_csv('overflow_data.csv', index=False)

In [32]:
table_data_read = pd.read_csv('overflow_data.csv')

In [33]:
table_data_read

,initiation,completion,cso_outfall,duration,volume
0,12/15/2022 13:23,12/15/2022 20:42,Wentworth CSO Outfall,8.85 hrs,No flow metering present at this location
1,12/3/2022 9:14,12/3/2022 11:10,Wentworth CSO Outfall,1.60 hrs,No flow metering present at this location
2,11/30/2022 4:07,11/30/2022 11:18,Wentworth CSO Outfall,3.63 hrs,No flow metering present at this location
3,11/11/2022 12:30,11/11/2022 15:38,Wentworth CSO Outfall,1.63 hrs,No flow metering present at this location
4,11/6/2022 0:40,11/6/2022 1:14,Wentworth CSO Outfall,0.56 hrs,No flow metering present at this location
...,...,...,...,...,...
76,2/17/2022 4:06,2/17/2022 16:04,Pleasant/Edenbridge Pump Station,0.28 hrs,70.47 thousand litres
77,2/17/2022 3:29,2/17/2022 19:02,Wentworth CSO Outfall,11.97 hrs,No flow metering present at this location
78,2/11/2022 15:49,2/11/2022 20:06,Wentworth CSO Outfall,2.71 hrs,No flow metering present at this location
79,2/2/2022 19:12,2/2/2022 20:21,Wentworth CSO Outfall,1.16 hrs,No flow metering present at this location
80,2/2/2022 15:34,2/2/2022 19:49,Wellington CSO Outfall,3.42 hrs,No flow metering present at this location